<div class="diskusi-produk">
  <div class="detail-produk">
    <div class="foto-produk">
      <%= image_tag Produk.find(39).foto_produk1.url %>
    </div>
    <div class="nama-produk">
      <%= Produk.find(39).nama_produk %>
    </div>
  </div>
  <div class="ulasan">
    <div class="kiri">
      <div class="foto-profil">
        <%= image_tag User.find(13).profil_image.url %>
      </div>
    </div>
    <div class="kanan">
      <div class="nama-user">
        Michele Jackson <span class="label label-success">pembeli</span>
      </div>
      <div class="pesan">
        Barangnya ready?
      </div>
    </div>
  </div>
  <div class="ulasan seller">
    <div class="kiri">
      <div class="foto-profil">
        <%= image_tag User.find(13).profil_image.url %>
      </div>
    </div>
    <div class="kanan">
      <div class="nama-user">
        Michele Jackson <span class="label label-danger">penjual</span>
      </div>
      <div class="pesan">
        ready gan..
      </div>
    </div>
  </div>
</div>
<div class="diskusi-produk">
  <div class="detail-produk">
    <div class="foto-produk">
      <%= image_tag Produk.find(39).foto_produk1.url %>
    </div>
    <div class="nama-produk">
      <%= Produk.find(39).nama_produk %>
    </div>
  </div>
  <div class="ulasan">
    <div class="kiri">
      <div class="foto-profil">
        <%= image_tag User.find(13).profil_image.url %>
      </div>
    </div>
    <div class="kanan">
      <div class="nama-user">
        Michele Jackson <span class="label label-success">pembeli</span>
      </div>
      <div class="pesan">
        Barangnya ready?
      </div>
    </div>
  </div>
  <div class="ulasan seller">
    <div class="kiri">
      <div class="foto-profil">
        <%= image_tag User.find(13).profil_image.url %>
      </div>
    </div>
    <div class="kanan">
      <div class="nama-user">
        Michele Jackson <span class="label label-danger">penjual</span>
      </div>
      <div class="pesan">
        ready gan..
      </div>
    </div>
  </div>
</div>