<div class="wrapper">

  <%= render 'admins/topbar' %>
  <!-- Left side column. contains the logo and sidebar -->
  <%= render 'admins/sidebar' %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Stores Lists

      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Store</a></li>
        <li class="active">Store Lists</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Find Stores</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <%= form_tag(admin_stores_path, :method => "get") do %>
                <%= text_field_tag :search, params[:search], style: "height:33px;float:left;margin-right:5px;", placeholder: "Nama Toko" %>
                <button type="submit" class="btn btn-primary">Cari User</button>
                <% end %>
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>ID Toko</th>
                  <th>Nama Toko</th>
                  <th>Owner Toko</th>
                  <th>Jumlah Produk</th>
                  <th>Jumlah Feedback</th>
                  <th>Edit</th>
                  <th>Hapus</th>
                </tr>
                </thead>
                <tbody>
                  <% @stores.each do |u| %>
                <tr>
                  <td><%= u.id %></td>
                  <td><%= u.nama_toko %></td>
                  <td><%= User.find(u.user_id).namalengkap %>
                  </td>
                  <td><%= u.produks.count %></td>
                  <td><%= u.feedbacks.count %></td>
                  <td><a class="btn btn-info btn-sm" href="/admin/stores/<%= u.id %>#toko">EDIT</a></td>
                  <td><%= link_to "Hapus", admin_destroy_store_path(u), method: :delete, :data => {:confirm => 'Are you sure?'}, :class => "btn btn-danger btn-sm"  %>

</td>
                </tr>
                <% end %>
                </tbody>
                <tfoot>
                <tr>
                  <th>ID Toko</th>
                  <th>Nama Toko</th>
                  <th>Owner Toko</th>
                  <th>Jumlah Produk</th>
                  <th>Jumlah Feedback</th>
                  <th>Edit</th>
                  <th>Hapus</th>
                </tr>
                </tfoot>
              </table>
              <% if !params[:search] %>
                  <div class="halaman">
                  <%= will_paginate @stores %>
                  </div>
              <% end %>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <% if params[:id] %>
      <a style="color:#333;" name="toko">
      <div class="row">
        <div class="col-xs-12">
         <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Edit Toko: <%= @toko.nama_toko %></h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
              <%= form_for(@toko) do |f| %>
               <% @toko.errors.full_messages.each do |message| %>
              <%= message %>
              <% end %>
              <div class="box-body">
                <div class="col-xs-4">
                <div class="form-group">
                <label for="exampleInputEmail1">ID Pemilik Toko</label><br>
                <span> <%= @toko.user_id %> <%= User.find(@toko.user_id).namalengkap %></span>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Nama Toko</label>
                  <%= f.text_field :nama_toko, class: "form-control" %>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Slogan</label>
                  <%= f.text_field :slogan, class: "form-control" %>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Deskripsi</label>
                  <%= f.text_area :deskripsi, class: "form-control", rows: "5" %>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Alamat</label>
                  <%= f.text_area :alamat, class: "form-control", rows: "5", disabled: true %>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Provinsi</label>
                  <%= f.text_field :provinsi, class: "form-control", disabled: true %>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Kota</label>
                  <%= f.text_field :kota, class: "form-control", disabled: true %>
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Kecamatan</label>
                  <%= f.text_field :kecamatan, class: "form-control", disabled: true %>
                </div>
                </div>
                <div class="col-xs-4">
                <div class="form-group">
                  <label for="exampleInputEmail1">Ekspedisi :</label><hr>
                  <label><%= f.check_box :agen1, {:class => "cxjne"}, "JNE-REG", "NO" %> JNE-REG</label><br>
                  <label><%= f.check_box :agen2, {:class => "cxjne"}, "JNE-OKE", "NO" %> JNE-OKE</label><br>
                  <label><%= f.check_box :agen3, {:class => "cxjne"}, "JNE-YES", "NO" %> JNE-YES</label><br>
                  <label><%= f.check_box :agen4, {:class => "cxjne"}, "TIKI-REG", "NO" %> TIKI-REG</label><br>
                  <label><%= f.check_box :agen5, {:class => "cxjne"}, "TIKI-ONS", "NO" %> TIKI-ONS</label><br>
                  <label><%= f.check_box :agen6, {:class => "cxjne"}, "POS-SURAT KILAT KHUSUS", "NO" %> POS-SURAT KILAT KHUSUS</label><br>
                  <label><%= f.check_box :agen7, {:class => "cxjne"}, "POS-EXPRESS NEXT DAY", "NO" %> POS-EXPRESS NEXT DAY</label><br>
                </div><hr>
                <div class="form-group">
                  <label for="exampleInputEmail1">Payment Gateway</label><br>
                  <label><%= f.check_box :terima_pembayaran1, {:class => "cxjne"}, "TRANSFER-BANK", "NO" %> Bank Transfer</label><br>
                  <label><%= f.check_box :terima_pembayaran2, {:class => "cxjne"}, "KLIKBCA", "NO" %> KlikBCA</label><br>
                  <label><%= f.check_box :terima_pembayaran3, {:class => "cxjne"}, "BCA-KLIKPAY", "NO" %> KlikPay</label><br>
                </div>

                <div class="form-group">
                  <label for="exampleInputEmail1">Gambar Toko</label><br>
                  <div class="col-xs-4">
                  <% if @toko.toko_image.url %>
                  <%= image_tag @toko.toko_image, style: "width:100%;"%>
                  <label>
                    <%= f.check_box :remove_toko_image %>
                    Hapus
                  </label>
                  <% end %>
                  </div>
                  <div class="col-xs-8">
                  <%= f.text_field :toko_image, class: "form-control", disabled: true %>
                  <%= f.file_field :toko_image, class: "form-control" %><br><br>
                  </div>
                </div><hr>
                <div class="form-group col-xs-4">
                  <label for="exampleInputEmail1">Banner 1</label>
                  <%= f.text_field :banner1, class: "form-control", disabled: true  %><br>
                  <% if @toko.banner1.url %>
                  <%= image_tag @toko.banner1, style: "width:100%;"%>
                  <% end %>
                </div>
                <div class="form-group col-xs-4">
                  <label for="exampleInputEmail1">Banner 2</label>
                  <%= f.text_field :banner2, class: "form-control", disabled: true  %><br>
                  <% if @toko.banner2.url %>
                  <%= image_tag @toko.banner2, style: "width:100%;"%>
                  <% end %>
                </div>
                <div class="form-group col-xs-4">
                  <label for="exampleInputEmail1">Banner 3</label>
                  <%= f.text_field :banner3, class: "form-control", disabled: true  %><br>
                  <% if @toko.banner3.url %>
                  <%= image_tag @toko.banner3, style: "width:100%;"%>
                  <% end %>
                </div>
                </div>
                <div class="col-xs-4">
                <div class="row">
                <div class="col-xs-6">
                  <label for="exampleInputEmail1">Dibuat Pada</label>
                  <br><%= @toko.created_at %>
                </div>
                <div class="col-xs-6">
                  <label for="exampleInputEmail1">Terakhir Diupdate</label>
                  <br><%= @toko.updated_at %>
                </div>
                </div><hr>
                <div class="row">
                <div class="col-xs-6">
                  <label for="exampleInputEmail1">Rating</label><br>
                  <% if @toko.feedbacks.count > 0 %>
                  <% @sum = [] %>
                  <% @toko.feedbacks.each do |f| %>
                  <% @sum << f.rating %>
                  <% end %>
                  <% (@sum.sum / @toko.feedbacks.count).times do %>
                  <i style="color:orange;" class="fa fa-star" aria-hidden="true"></i>
                  <% end %>(<%= @sum.sum / @toko.feedbacks.count %>)
                  <% else %>
                  Belum ada rating
                  <% end %>
                </div>
                <div class="col-xs-6">
                  <label for="exampleInputEmail1">Jumlah Produk</label><br>
                 <%= @toko.produks.count %>
                </div>
                </div><hr>
                <div class="row">
                <div class="form-group col-xs-5">
                  <label for="exampleInputEmail1">Tutup Sampai</label>
                  <input type="text" class="form-control pull-right" id="datepicker" value="<%= @toko.tutup_sampai %>">
                </div>
                <div class="form-group col-xs-7">
                  <label for="exampleInputEmail1">Status: <% if @toko.status == "Tutup" %><span class="label label-danger">tutup</span><% else %><span class="label label-success">buka</span><% end %></label><br>
                  <label><%= f.check_box :status, {:class => "cxjne"}, "Buka", "Tutup" %> Buka</label> (unchek = Tutup)<br>

                </div>
                </div>



                </div>
              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            <% end %>
          </div>
        </div><!-- col 6 -->
      </div>
      </a>
      <% end %>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
  </footer>


</div>
<% if notice.to_s.include? "Toko" %>
<script>
$(function () {
    $.notiny({ text: "<%= notice %>", position: 'right-top' });
  });
</script>
<% end %>

