    <%= render 'layouts/torakoheader' %>

		<div class="spacermedium"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-md-offset-3 loginblock">
            <% if !user_signed_in? %>
						<div id="blok-loginpanel">
							<div class="headingblok-logreg login">
								<h4 class="notbordered">Log In</h4>
								<p>Selamat datang di Torako. Silakan isi data login Anda</p>
							</div>
							<div class="ctnblok-logreg">
                <% if flash[:alert] %>
                          <p class="alert"><%= flash[:alert] %></p>
                 <% end %>
                 <% if flash[:error] %>
                          <p class="alert"><%= flash[:error] %></p>
                 <% end %>
                <%= form_for(:user, :url => session_path(:user)) do |f| %>
								<div class="form-row has-error">
									<label for="email">Email</label>
									<input data-validation="email" required="true" type="text" name="user[email]" id="email" placeholder="Masukan Email">
									<!--<p><i class="fa fa-exclamation-triangle"></i> &nbsp;Isikan Username</p>-->
								</div>
								<div class="form-row">
									<label for="password">Password</label>
									<input data-validation="length" data-validation-length="min6" required="true" type="password" name="user[password]" id="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;">
								</div>
								<div class="form-row">
									<input type="submit" name="commit" value="Log In" class="loginbtnred" >
                  <% end %>
									<div class="forgotpass"><a href="<%= new_user_password_path %>">Lupa Password?</a> | <a href="/daftar">Daftar Akun Baru</a></div>
								</div>
							</div>
							<div class="spacermedium"></div>
							<div class="ctn-otherlogreg">
								<div class="headingblok-logreg bordered">
									<h4>Atau Masuk Dengan:</h4>
								</div>
								<div class="listotherlogin">
                  <div class="sosmedlogin">
                  <%= link_to user_omniauth_authorize_path(:facebook) do %>
                  <span class="loginoptionbtn facebook"><i class="fa fa-facebook"></i> Facebook</span>
                  <% end %>
                  </div>
									<div class="sosmedlogin">
                    <%= link_to user_omniauth_authorize_path(:twitter) do %>
                    <span class="loginoptionbtn twitter"><i class="fa fa-twitter"></i> Twitter</span>
                  <% end %>
                  </div>
									<div class="sosmedlogin">
                    <%= link_to user_omniauth_authorize_path(:google_oauth2) do %>
                    <span class="loginoptionbtn gplus"><i class="fa fa-google-plus"></i> Google Plus</span>
                    <% end %>
                  </div>
									<div class="sosmedlogin">
                    <%= link_to user_omniauth_authorize_path(:instagram) do %>
                    <span class="loginoptionbtn instagram"><i class="fa fa-instagram"></i> Instagram</span>
                    <% end %>
                  </div>
                  <div style="clear: both; margin-bottom: 40px;" class="spacerlogin"></div>
								</div>
							</div>
						</div>
            <% else %>
            <h3>Anda telah melakukan Login </h3>
            <% end %>
					</div>
				</div>
			</div>
    <%= render "layouts/torakofooter" %>