<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @financelog.user_id %>
</p>

<p>
  <strong>Toko:</strong>
  <%= @financelog.toko_id %>
</p>

<p>
  <strong>Jumlah:</strong>
  <%= @financelog.jumlah %>
</p>

<p>
  <strong>Produk:</strong>
  <%= @financelog.produk_id %>
</p>

<%= link_to 'Edit', edit_financelog_path(@financelog) %> |
<%= link_to 'Back', financelogs_path %>
