<%= form_for(@subsubcategory) do |f| %>
  <% if @subsubcategory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subsubcategory.errors.count, "error") %> prohibited this subsubcategory from being saved:</h2>

      <ul>
      <% @subsubcategory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :subcategory_id %><br>
    <%= f.number_field :subcategory_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
