<p id="notice"><%= notice %></p>

<h1>Listing Subsubcategories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Subcategory</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subsubcategories.each do |subsubcategory| %>
      <tr>
        <td><%= subsubcategory.name %></td>
        <td><%= subsubcategory.subcategory_id %></td>
        <td><%= link_to 'Show', subsubcategory %></td>
        <td><%= link_to 'Edit', edit_subsubcategory_path(subsubcategory) %></td>
        <td><%= link_to 'Destroy', subsubcategory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subsubcategory', new_subsubcategory_path %>
