<div class="row">
  <div style="margin-top: 8px;" class="col-md-4">
    <p style="border: dashed 2px #e64a4a;padding:10px;border-radius: 2px;">
    <strong><%= Alamat.find(params[:tujuan]).nama_penerima %></strong><br>
    <%= Alamat.find(params[:tujuan]).sebagai %>
    </p>
  </div>
  <div class="col-md-8">
    <%= Alamat.find(params[:tujuan]).nama_penerima %><br>
    <%= Alamat.find(params[:tujuan]).alamat %><br>
    <%= Alamat.find(params[:tujuan]).kecamatan_sebagai %>,
    <%= Alamat.find(params[:tujuan]).kota_sebagai %>,
    <%= Alamat.find(params[:tujuan]).kode_pos %><br>
    <%= Alamat.find(params[:tujuan]).provinsi_sebagai %>
  </div>
</div>