<%= render 'layouts/torakoheader' %>
		<div class="spacermedium"></div>

		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<button type="button" class="btn" id="btn-SHsidebar"><i class="fa fa-user" style="margin-right:1em;"></i> Member Menu</button>
				</div>
			</div>
			<div class="row">
				<%= render 'layouts/sidebar' %>
				<div class="col-md-9 col-sm-9 wrappermakctn">
					<div class="row">
						<div class="col-md-12">
							<div class="headingmac">
								<h4>Tambah Produk</h4>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="colomacr tp-produkform">
								<div class="ctnblok-logreg">
                  <%= form_for(@produk) do |f| %>
									<div class="form-row has-error">
										<label for="nmprdk">Nama Produk</label>
                    <%= f.text_field :nama_produk, id: "nmprdk", placeholder: "masukan nama produk" %>
										<!--<p><i class="fa fa-exclamation-triangle"></i> &nbsp;Isikan Username</p>-->
										<p class="text-muted">Maximum 80 Characters</p>
									</div>
									<div class="form-row">
										<label for="kategori">Kategori</label>
                    <%= f.collection_select :category_id, Category.order(:kategori), :id, :kategori, {:prompt => "Pilih Kategori"} %>
										<div class="spacersmall"></div>
                    <label for="subkategori">Subkategori</label>
                    <%= f.grouped_collection_select :subcategory_id, Category.order(:kategori), :subcategories, :kategori, :id, :subkategori, {:prompt => "Pilih Subkategori"} %>
										<div class="spacermedium"></div>
									</div>

									<div class="form-row">
										<label for="hprd">Harga Produk / Buah</label>
                    <%= f.text_field :harga, id: "hprd", placeholder: "harga per buah", value: @produk.harga.to_i %>
										<p class="text-muted">Isi harga tanpa menggunakan koma dan titik. Contoh: 125000. <span class="punyadiskon">Memiliki Harga Diskon ?</span></p>
									</div>
                  <div class="form-row hardis">
										<label for="hprd">Harga Produk / Buah Diskon</label>
                    <%= f.text_field :harga_diskon, id: "hprdd", placeholder: "harga diskon per buah", value: @produk.harga_diskon.to_i %>
										<p class="text-muted">Isi harga tanpa menggunakan koma dan titik. Contoh: 125000</p>
									</div>
									<div class="form-row">
										<label for="brt">Berat (gram)</label>
                    <%= f.text_field :berat, id: "brt", placeholder: "berat produk", value: @produk.berat.to_i %>
										<p class="text-muted">isi berat dengan satuan gram contoh : 900</p>
									</div>
                  <div class="form-row">
										<label for="brt">Stok barang</label>
                    <%= f.text_field :stock, id: "brt", placeholder: "jumlah stock tersedia", required: "required" %>
									</div>
									<div class="form-row">
										<label for="ftpr">Foto Produk </label>
                    <%= f.file_field :foto_produk1, class: "file-loading", id: "input-42" %>
                    <%= f.file_field :foto_produk2, class: "file-loading", id: "input-42" %>
                    <%= f.file_field :foto_produk3, class: "file-loading", id: "input-42" %>
                    <%= f.file_field :foto_produk4, class: "file-loading", id: "input-42" %>
                    <%= f.file_field :foto_produk5, class: "file-loading", id: "input-42" %>
										<p class="text-muted">Maksimum 5 foto ekstensi yang diperbolehkan: .jpg, .jpeg, gif, png</p>
									</div>
                  <div class="form-row">
										<div class="row">
											<div class="colthumbnail">

												<% if @produk.foto_produk1.url %><div class="col-md-2 col-xs-3"><img src="<%= Produk.friendly.find(params[:id]).foto_produk1 %>" class="responsiveimg"><%= f.check_box :remove_foto_produk1 %> Hapus</div><% end %>
												<% if @produk.foto_produk2.url %><div class="col-md-2 col-xs-3"><img src="<%= Produk.friendly.find(params[:id]).foto_produk2 %>" class="responsiveimg"><%= f.check_box :remove_foto_produk2 %> Hapus</div><% end %>
												<% if @produk.foto_produk3.url %><div class="col-md-2 col-xs-3"><img src="<%= Produk.friendly.find(params[:id]).foto_produk3 %>" class="responsiveimg"><%= f.check_box :remove_foto_produk3 %> Hapus</div><% end %>
												<% if @produk.foto_produk4.url %><div class="col-md-2 col-xs-3"><img src="<%= Produk.friendly.find(params[:id]).foto_produk4 %>" class="responsiveimg"><%= f.check_box :remove_foto_produk4 %> Hapus</div><% end %>
												<% if @produk.foto_produk5.url %><div class="col-md-2 col-xs-3"><img src="<%= Produk.friendly.find(params[:id]).foto_produk5 %>" class="responsiveimg"><%= f.check_box :remove_foto_produk5 %> Hapus</div><% end %>

											</div>
										</div>
									</div>
									<div class="form-row">
										<label for="des">Deskripsi Singkat</label>
                    <%= f.text_area :deskripsi,id: "des", rows: "4" %>
										<p class="text-muted">Maximum 2000 characters</p>
									</div>
                  <div class="form-row">
										<label for="des">Deskripsi Lengkap</label>
                    <%= f.text_area :deskripsi_lengkap,id: "des", rows: "4" %>
										<p class="text-muted">Maximum 2000 characters</p>
									</div>
									<div class="form-row grosir">
										<button type="button" class="btn btn-default" data-toggle="collapse" data-target="#hggrosir">Tambahkan Harga Grosir</button> <a href="#/"> <i class="fa fa-times" aria-hidden="true"></i></a>
										<div id="hggrosir" class="collapse">
											<div class="row">
												<div class="col-md-2 col-xs-3">
                          <%= f.text_field :jumlah_grosir1min %>
												</div>
												<div class="col-md-2 col-xs-3">
													<%= f.text_field :jumlah_grosir1max %>
												</div>
												<div class="col-md-4 col-xs-6">
                          <%= f.text_field :harga_grosir1, placeholder: "Harga", value: @produk.harga_grosir1.to_i %>
												</div>
											</div>
											<div class="spacersmall"></div>
											<div class="row">
												<div class="col-md-2 col-xs-3">
													<%= f.text_field :jumlah_grosir2min %>
												</div>
												<div class="col-md-2 col-xs-3">
													<%= f.text_field :jumlah_grosir2max %>
												</div>
												<div class="col-md-4 col-xs-6">
													<%= f.text_field :harga_grosir2, placeholder: "Harga", value: @produk.harga_grosir2.to_i %>
												</div>
											</div>
											<div class="spacersmall"></div>
											<div class="row">
												<div class="col-md-2 col-xs-3">
													<%= f.text_field :jumlah_grosir3min %>
												</div>
												<div class="col-md-2 col-xs-3">
													<%= f.text_field :jumlah_grosir3max %>
												</div>
												<div class="col-md-4 col-xs-6">
													<%= f.text_field :harga_grosir3, placeholder: "Harga", value: @produk.harga_grosir3.to_i %>
												</div>
											</div>
											<div class="spacersmall"></div>
											<div class="row">
												<div class="col-md-2 col-xs-3">
													<%= f.text_field :jumlah_grosir4min %>
												</div>
												<div class="col-md-2 col-xs-3">
													<%= f.text_field :jumlah_grosir4max %>
												</div>
												<div class="col-md-4 col-xs-6">
													<%= f.text_field :harga_grosir4, placeholder: "Harga", value: @produk.harga_grosir4.to_i %>
												</div>
											</div>
											<div class="spacersmall"></div>
											<div class="row">
												<div class="col-md-2 col-xs-3">
													<%= f.text_field :jumlah_grosir5min %>
												</div>
												<div class="col-md-2 col-xs-3">
													<%= f.text_field :jumlah_grosir5max %>
												</div>
												<div class="col-md-4 col-xs-6">
													<%= f.text_field :harga_grosir5, placeholder: "Harga", value: @produk.harga_grosir5.to_i %>
												</div>
											</div>
											<div class="spacersmall"></div>
											<p class="text-muted">
												Jumlah dan Harga tanpa tanda koma dan titik.<br />
												Contoh:<br />
												Kelompok Jumlah: 1 - 10, Harga: 15000<br />
												Kelompok Jumlah: 11 - 20, Harga: 10000<br />
												dst...
											</p>
										</div>
										<br>
									</div>
									<div class="form-row reg">
										<input type="submit" name=""value="Simpan" class="gosignin" >
                    <% end %>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

    <%= render 'layouts/torakofooter' %>
<script>
$(document).ready(function(){
    $(".hardis").hide();
    $(".punyadiskon").click(function(){
        $(".hardis").slideToggle();
    });
});
</script>
<script>
  $(".fa-times").click(function(){
    $(".grosir").fadeOut();
});
</script>