<%= render "layouts/torakoheader" %>
<!-- end header -->
<!-- Home slideder-->
<div id="home-slider">
    <div class="container" style="width:100%;">
        <div class="row">
            <div class="col-sm-3 slider-left"></div>
            <div class="col-sm-9 header-top-right">
                <div class="homeslider">
                    <div class="content-slide">
                        <ul id="contenhomeslider">
                          <li><img alt="Torako" src="<%= Homeitem.find(12).img1.url %>" title="Torako" /></li>
                          <li><img alt="Torako" src="<%= Homeitem.find(12).img2.url %>" title="Torako" /></li>
                          <li><img  alt="Torako" src="<%= Homeitem.find(12).img3.url %>" title="Torako" /></li>
                        </ul>
                    </div>
                </div>
                <div class="header-banner banner-opacity">
                    <a href="#"><img alt="Funky roots" src="assets/data/ads1.jpg" /></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END Home slideder-->
<!-- servives -->
<div class="container" style="width:100%;">
    <div class="service ">
        <div class="col-xs-6 col-sm-3 service-item">
            <div class="icon">
                <img alt="services" src="assets/data/s1.png" />
            </div>
            <div class="info">
                <a href="#"><h3><%= Homeitem.find(6).text1 %></h3></a>
                <span><%= Homeitem.find(6).text2 %></span>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 service-item">
            <div class="icon">
                <img alt="services" src="assets/data/s2.png" />
            </div>
            <div class="info">
                <a href="#"><h3><%= Homeitem.find(6).text3 %></h3></a>
                <span><%= Homeitem.find(6).text4 %></span>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 service-item">
            <div class="icon">
                <img alt="services" src="assets/data/s3.png" />
            </div>

            <div class="info" >
                <a href="#"><h3><%= Homeitem.find(6).text5 %></h3></a>
                <span><%= Homeitem.find(6).text6 %></span>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 service-item">
            <div class="icon">
                <img alt="services" src="assets/data/s4.png" />
            </div>
            <div class="info">
                <a href="#"><h3><%= Homeitem.find(6).text7 %></h3></a>
                <span><%= Homeitem.find(6).text8 %></span>
            </div>
        </div>
    </div>
</div>
<!-- end services -->
<div style="">
<div class="page-top">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-9 page-top-left">
                <div class="popular-tabs">
                      <ul class="nav-tab">
                        <li class="active"><a data-toggle="tab" href="#tab-1">BEST SELLERS</a></li>
                        <li><a data-toggle="tab" href="#tab-2">ON SALE</a></li>
                        <li><a data-toggle="tab" href="#tab-3">New products</a></li>
                      </ul>
                      <div class="tab-container">
                            <div id="tab-1" class="tab-panel active">
                                <ul class="product-list owl-carousel" data-dots="false" data-loop="true" data-nav = "true" data-margin = "30" data-autoplayTimeout="1000" data-autoplayHoverPause = "true" data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":3}}'>
                                    <% @bestseller.each do |p| %>
                                    <li>
                                        <div class="left-block">
                                            <a href="<%= produk_path(p) %>">
                                                <img class="img-responsive" alt="product" src="<%= p.foto_produk1 %>" />
                                            </a>
                                            <% if user_signed_in? %>
                                                <% if !@fav.include? p.id %>
                                                <div class="quick-view produk-<%= p.id %>">
                                                  <%= form_for @favorite_produk, remote: true do |f| %>
                                                  <%= f.hidden_field :user_id, value: current_user.id %>
                                                  <%= f.hidden_field :produk_id, value: p.id %>
                                                  <input type="hidden" name="origin" value="home">
                                                  <button type="submit" title="Add to my wishlist" class="heart" ><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                                  <a title="Kunjungi Toko" class="compare" href="<%= toko_path(p.toko) %>"></a>
                                                  <% end %><!-- end of form -->
                                               </div>
                                             <% else %><!-- else if fav include -->
                                             <% @myfav = FavoriteProduk.where(:user_id => current_user.id, :produk_id => p.id).first %>
                                            <div class="quick-view produk-<%= p.id %>">
                                            <%= form_tag delfav_path, remote: true do %>
                                            <%= hidden_field_tag :id, @myfav.id %>
                                            <button title="Remove from wishlist" class="heart un" ><i class="fa fa-heart" aria-hidden="true"></i></button>
                                              <a title="Kunjungi Toko" class="compare" href="<%= toko_path(p.toko) %>"></a>
                                            <% end %><!-- end of form delfav -->
                                            </div>
                                            <% end %><!-- end of if fav include -->
                                            <% else %><!-- else if user signed in -->
                                            <div class="quick-view">
                                            <button type="submit" title="Add to my wishlist" class="heart" ><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                          <a title="Kunjungi Toko" class="compare" href="<%= toko_path(p.toko) %>"></a>
                                            </div>
                                            <% end %><!-- end of signed in -->
                                            <div class="add-to-cart">
                                                <a title="Detail Produk" href="<%= produk_path(p) %>">Detail</a>
                                            </div>
                                            <div class="group-price">
                                              <% if (Time.now - p.created_at).to_i/86400 < 3 %>
                                                <span class="product-new">NEW</span>
                                              <% end %>
                                              <% if p.harga_diskon.present? && p.harga_diskon > 0 %>
                                                <span class="product-sale">Sale</span>
                                              <% end %>
                                            </div>
                                        </div>
                                        <div class="right-block">
                                            <h5 class="product-name"><a href="#"><%= p.nama_produk %></a></h5>
                                            <div class="content_price">
                                                 <% if p.harga_diskon.present? && p.harga_diskon > 0 %>
                                                <span class="price product-price"><%= number_to_currency(p.harga_diskon, locale: :id) %></span>
                                                <span class="price old-price"><%= number_to_currency(p.harga, locale: :id) %></span>
                                              <% else %>
                                              <span class="price product-price"><%= number_to_currency(p.harga_beli, locale: :id) %></span>
                                              <span style="visibility:hidden;" class="price old-price"></span>
                                              <% end %>
                                            </div>
                                            <div class="product-star">
                                              <% if p.rating.present? %>
                                              <% p.rating.to_i.times do %>
                                                <i class="fa fa-star"></i>
                                              <% end %>
                                              <% (5 - p.rating.to_i).times do %>
                                                <i class="fa fa-star-o"></i>
                                              <% end %>
                                              <% else %>
                                              <i class="fa fa-star-o"></i>
                                              <i class="fa fa-star-o"></i>
                                              <i class="fa fa-star-o"></i>
                                              <i class="fa fa-star-o"></i>
                                              <i class="fa fa-star-o"></i>
                                              <% end %>
                                            </div>
                                        </div>
                                    </li>
                                    <% end %>
                                </ul>
                            </div>
                            <div id="tab-2" class="tab-panel">
                                <ul class="product-list owl-carousel"  data-dots="false" data-loop="true" data-nav = "true" data-margin = "30"  data-autoplayTimeout="1000" data-autoplayHoverPause = "true" data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":3}}'>
                                    <% @onsale.each do |p| %>
                                    <li>
                                        <div class="left-block">
                                            <a href="<%= produk_path(p) %>">
                                                <img class="img-responsive" alt="product" src="<%= p.foto_produk1 %>" />
                                            </a>
                                            <% if user_signed_in? %>
                                                <% if !@fav.include? p.id %>
                                                <div class="quick-view produk-<%= p.id %>">
                                                  <%= form_for @favorite_produk, remote: true do |f| %>
                                                  <%= f.hidden_field :user_id, value: current_user.id %>
                                                  <%= f.hidden_field :produk_id, value: p.id %>
                                                  <input type="hidden" name="origin" value="home">
                                                  <button type="submit" title="Add to my wishlist" class="heart" ><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                                  <a title="Kunjungi Toko" class="compare" href="<%= toko_path(p.toko) %>"></a>
                                                  <% end %>
                                               </div>
                                             <% else %>
                                             <% @myfav = FavoriteProduk.where(:user_id => current_user.id, :produk_id => p.id).first %>
                                            <div class="quick-view produk-<%= p.id %>">
                                            <%= form_tag delfav_path, remote: true do %>
                                            <%= hidden_field_tag :id, @myfav.id %>
                                            <button title="Remove from wishlist" class="heart un" ><i class="fa fa-heart" aria-hidden="true"></i></button>
                                              <a title="Kunjungi Toko" class="compare" href="<%= toko_path(p.toko) %>"></a>
                                            <% end %>
                                            </div>
                                            <% end %>
                                            <% else %><!-- else if user signed in -->
                                            <div class="quick-view">
                                            <button type="submit" title="Add to my wishlist" class="heart" ><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                          <a title="Kunjungi Toko" class="compare" href="<%= toko_path(p.toko) %>"></a>
                                            </div>
                                            <% end %>
                                            <div class="add-to-cart">
                                                <a title="Detail Produk" href="<%= produk_path(p) %>">Detail</a>
                                            </div>
                                            <div class="group-price">
                                              <% if (Time.now - p.created_at).to_i/86400 < 3 %>
                                                <span class="product-new">NEW</span>
                                              <% end %>
                                              <% if p.harga_diskon.present? && p.harga_diskon > 0 %>
                                                <span class="product-sale">Sale</span>
                                              <% end %>
                                            </div>
                                        </div>
                                        <div class="right-block">
                                            <h5 class="product-name"><a href="#"><%= p.nama_produk %></a></h5>
                                            <div class="content_price">
                                                 <% if p.harga_diskon.present? && p.harga_diskon > 0 %>
                                                <span class="price product-price"><%= number_to_currency(p.harga_diskon, locale: :id) %></span>
                                                <span class="price old-price"><%= number_to_currency(p.harga, locale: :id) %></span>
                                              <% else %>
                                              <span class="price product-price"><%= number_to_currency(p.harga_beli, locale: :id) %></span>
                                              <span style="visibility:hidden;" class="price old-price"></span>
                                              <% end %>
                                            </div>
                                            <div class="product-star">
                                              <% if p.rating.present? %>
                                              <% p.rating.to_i.times do %>
                                                <i class="fa fa-star"></i>
                                              <% end %>
                                              <% (5 - p.rating.to_i).times do %>
                                                <i class="fa fa-star-o"></i>
                                              <% end %>
                                              <% else %>
                                              <i class="fa fa-star-o"></i>
                                              <i class="fa fa-star-o"></i>
                                              <i class="fa fa-star-o"></i>
                                              <i class="fa fa-star-o"></i>
                                              <i class="fa fa-star-o"></i>
                                              <% end %>
                                            </div>
                                        </div>
                                    </li>
                                    <% end %>
                                </ul>
                            </div>
                            <div id="tab-3" class="tab-panel">
                                <ul class="product-list owl-carousel" data-dots="false" data-loop="true" data-nav = "true" data-margin = "30" data-autoplayTimeout="1000" data-autoplayHoverPause = "true" data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":3}}'>
                                    <% @newproduct.each do |p| %>
                                    <li>
                                        <div class="left-block">
                                            <a href="<%= produk_path(p) %>">
                                                <img class="img-responsive" alt="product" src="<%= p.foto_produk1 %>" />
                                            </a>
                                            <% if user_signed_in? %>
                                                <% if !@fav.include? p.id %>
                                                <div class="quick-view produk-<%= p.id %>">
                                                  <%= form_for @favorite_produk, remote: true do |f| %>
                                                  <%= f.hidden_field :user_id, value: current_user.id %>
                                                  <%= f.hidden_field :produk_id, value: p.id %>
                                                  <input type="hidden" name="origin" value="home">
                                                  <button type="submit" title="Add to my wishlist" class="heart" ><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                                  <a title="Kunjungi Toko" class="compare" href="<%= toko_path(p.toko) %>"></a>
                                                  <% end %>
                                               </div>
                                             <% else %>
                                             <% @myfav = FavoriteProduk.where(:user_id => current_user.id, :produk_id => p.id).first %>
                                            <div class="quick-view produk-<%= p.id %>">
                                            <%= form_tag delfav_path, remote: true do %>
                                            <%= hidden_field_tag :id, @myfav.id %>
                                            <button title="Remove from wishlist" class="heart un" ><i class="fa fa-heart" aria-hidden="true"></i></button>
                                              <a title="Kunjungi Toko" class="compare" href="<%= toko_path(p.toko) %>"></a>
                                            <% end %>
                                            </div>
                                            <% end %>
                                          <% else %><!-- else if user signed in -->
                                            <div class="quick-view">
                                            <button type="submit" title="Add to my wishlist" class="heart" ><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                          <a title="Kunjungi Toko" class="compare" href="<%= toko_path(p.toko) %>"></a>
                                            </div>
                                            <% end %>
                                            <div class="add-to-cart">
                                                <a title="Detail Produk" href="<%= produk_path(p) %>">Detail</a>
                                            </div>
                                            <div class="group-price">
                                              <% if (Time.now - p.created_at).to_i/86400 < 3 %>
                                                <span class="product-new">NEW</span>
                                              <% end %>
                                              <% if p.harga_diskon.present? && p.harga_diskon > 0 %>
                                                <span class="product-sale">Sale</span>
                                              <% end %>
                                            </div>
                                        </div>
                                        <div class="right-block">
                                            <h5 class="product-name"><a href="#"><%= p.nama_produk %></a></h5>
                                            <div class="content_price">
                                                 <% if p.harga_diskon.present? && p.harga_diskon > 0 %>
                                                <span class="price product-price"><%= number_to_currency(p.harga_diskon, locale: :id) %></span>
                                                <span class="price old-price"><%= number_to_currency(p.harga, locale: :id) %></span>
                                              <% else %>
                                              <span class="price product-price"><%= number_to_currency(p.harga_beli, locale: :id) %></span>
                                              <span style="visibility:hidden;" class="price old-price"></span>
                                              <% end %>
                                            </div>
                                            <div class="product-star">
                                              <% if p.rating.present? %>
                                              <% p.rating.to_i.times do %>
                                                <i class="fa fa-star"></i>
                                              <% end %>
                                              <% (5 - p.rating.to_i).times do %>
                                                <i class="fa fa-star-o"></i>
                                              <% end %>
                                              <% else %>
                                              <i class="fa fa-star-o"></i>
                                              <i class="fa fa-star-o"></i>
                                              <i class="fa fa-star-o"></i>
                                              <i class="fa fa-star-o"></i>
                                              <i class="fa fa-star-o"></i>
                                              <% end %>
                                            </div>
                                        </div>
                                    </li>
                                    <% end %>
                                </ul>
                            </div>
                      </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 page-top-right">
                <div class="latest-deals">
                    <h2 class="latest-deal-title">latest deals</h2>
                    <div class="latest-deal-content">
                        <ul class="product-list owl-carousel" data-dots="false" data-loop="true" data-nav = "true" data-autoplayTimeout="1000" data-autoplayHoverPause = "true" data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":1}}'>
                            <% Produk.where(id: Homeitem.find(30).text1.split(',')).each do |p| %>
                            <li>
                                <div class="count-down-time" data-countdown="<%= Homeitem.find(30).text2 %>"></div>
                                <div class="left-block">
                                            <a href="<%= produk_path(p) %>">
                                                <img class="img-responsive" alt="product" src="<%= p.foto_produk1 %>" />
                                            </a>
                                            <% if user_signed_in? %>
                                                <% if !@fav.include? p.id %>
                                                <div class="quick-view produk-<%= p.id %>">
                                                  <%= form_for @favorite_produk, remote: true do |f| %>
                                                  <%= f.hidden_field :user_id, value: current_user.id %>
                                                  <%= f.hidden_field :produk_id, value: p.id %>
                                                  <input type="hidden" name="origin" value="home">
                                                  <button type="submit" title="Add to my wishlist" class="heart" ><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                                  <a title="Kunjungi Toko" class="compare" href="<%= toko_path(p.toko) %>"></a>
                                                  <% end %>
                                               </div>
                                             <% else %>
                                             <% @myfav = FavoriteProduk.where(:user_id => current_user.id, :produk_id => p.id).first %>
                                            <div class="quick-view produk-<%= p.id %>">
                                            <%= form_tag delfav_path, remote: true do %>
                                            <%= hidden_field_tag :id, @myfav.id %>
                                            <button title="Remove from wishlist" class="heart un" ><i class="fa fa-heart" aria-hidden="true"></i></button>
                                              <a title="Kunjungi Toko" class="compare" href="<%= toko_path(p.toko) %>"></a>
                                            <% end %>
                                            </div>
                                            <% end %>
                                          <% else %><!-- else if user signed in -->
                                            <div class="quick-view">
                                            <button type="submit" title="Add to my wishlist" class="heart" ><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                          <a title="Kunjungi Toko" class="compare" href="<%= toko_path(p.toko) %>"></a>
                                            </div>
                                            <% end %>
                                            <div class="add-to-cart">
                                                <a title="Detail Produk" href="<%= produk_path(p) %>">Detail</a>
                                            </div>
                                            <div class="group-price">
                                              <% if (Time.now - p.created_at).to_i/86400 < 3 %>
                                                <span class="product-new">NEW</span>
                                              <% end %>
                                              <% if p.harga_diskon.present? && p.harga_diskon > 0 %>
                                                <span class="product-sale">Sale</span>
                                              <% end %>
                                            </div>
                                        </div>
                                <div class="right-block">
                                            <h5 class="product-name"><a href="#"><%= p.nama_produk %></a></h5>
                                            <div class="content_price">
                                                 <% if p.harga_diskon.present? && p.harga_diskon > 0 %>
                                                <span class="price product-price"><%= number_to_currency(p.harga_diskon, locale: :id) %></span>
                                                <span class="price old-price"><%= number_to_currency(p.harga, locale: :id) %></span>
                                              <% else %>
                                              <span class="price product-price"><%= number_to_currency(p.harga_beli, locale: :id) %></span>
                                              <span style="visibility:hidden;" class="price old-price"></span>
                                              <% end %>
                                            </div>
                                            <div class="product-star">
                                              <% if p.rating.present? %>
                                              <% p.rating.to_i.times do %>
                                                <i class="fa fa-star"></i>
                                              <% end %>
                                              <% (5 - p.rating.to_i).times do %>
                                                <i class="fa fa-star-o"></i>
                                              <% end %>
                                              <% else %>
                                              <i class="fa fa-star-o"></i>
                                              <i class="fa fa-star-o"></i>
                                              <i class="fa fa-star-o"></i>
                                              <i class="fa fa-star-o"></i>
                                              <i class="fa fa-star-o"></i>
                                              <% end %>
                                            </div>
                                        </div>
                            </li>
                            <% end %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!---->
<div class="content-page">
    <div class="container">
        <!-- featured category fashion -->
        <div class="category-featured">
            <nav class="navbar nav-menu nav-menu-red show-brand">
              <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="navbar-brand"><a href="#">fashion pria</a></div>
                  <span class="toggle-menu"></span>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse kategori">
                    <div class="keywords"><a data-no-turbolinks="true" href="/cari?utf8=✓&search=<%= Homeitem.find(20).text1 %>"> <%= Homeitem.find(20).text1 %> </a></div>
                    <div class="keywords"><a data-no-turbolinks="true" href="/cari?utf8=✓&search=<%= Homeitem.find(20).text2 %>"> <%= Homeitem.find(20).text2 %> </a></div>
                    <div class="keywords"><a data-no-turbolinks="true" href="/cari?utf8=✓&search=<%= Homeitem.find(20).text3 %>"> <%= Homeitem.find(20).text3 %> </a></div>
                  <ul class="nav navbar-nav">

                  </ul>
                </div><!-- /.navbar-collapse -->
              </div><!-- /.container-fluid -->
              <div id="elevator-1" class="floor-elevator">
                    <a href="#" class="btn-elevator up disabled fa fa-angle-up"></a>
                    <a href="#elevator-2" class="btn-elevator down fa fa-angle-down"></a>
              </div>
            </nav>
           <div class="product-featured clearfix">
                <div class="banner-featured">
                    <div class="featured-text"><span>featured</span></div>
                    <div class="banner-img">
                        <a href="#"><img alt="Featurered 1" src="<%= Homeitem.find(26).img1.url %>" /></a>
                    </div>
                </div>
                <div class="product-featured-content">
                    <div class="product-featured-list">
                        <div class="tab-container">
                            <!-- tab product -->
                            <div class="tab-panel active" id="tab-4">
                                <ul class="product-list owl-carousel" data-dots="false" data-loop="true" data-nav = "true" data-margin = "0" data-autoplayTimeout="1000" data-autoplayHoverPause = "true" data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":4}}'>
                                  <% @fashionpria.each do |p| %>
                                    <li>
                                        <div class="left-block">
                                            <a href="<%= produk_path(p) %>">
                                                <img class="img-responsive" alt="product" src="<%= p.foto_produk1 %>" />
                                            </a>
                                            <% if user_signed_in? %>
                                                <% if !@fav.include? p.id %>
                                                <div class="quick-view produk-<%= p.id %>">
                                                  <%= form_for @favorite_produk, remote: true do |f| %>
                                                  <%= f.hidden_field :user_id, value: current_user.id %>
                                                  <%= f.hidden_field :produk_id, value: p.id %>
                                                  <input type="hidden" name="origin" value="home">
                                                  <button type="submit" title="Add to my wishlist" class="heart" ><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                                  <a title="Kunjungi Toko" class="compare" href="<%= toko_path(p.toko) %>"></a>
                                                  <% end %>
                                               </div>
                                             <% else %>
                                             <% @myfav = FavoriteProduk.where(:user_id => current_user.id, :produk_id => p.id).first %>
                                            <div class="quick-view produk-<%= p.id %>">
                                            <%= form_tag delfav_path, remote: true do %>
                                            <%= hidden_field_tag :id, @myfav.id %>
                                            <button title="Remove from wishlist" class="heart un" ><i class="fa fa-heart" aria-hidden="true"></i></button>
                                              <a title="Kunjungi Toko" class="compare" href="<%= toko_path(p.toko) %>"></a>
                                            <% end %>
                                            </div>
                                            <% end %>
                                          <% else %><!-- else if user signed in -->
                                            <div class="quick-view">
                                            <button type="submit" title="Add to my wishlist" class="heart" ><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                          <a title="Kunjungi Toko" class="compare" href="<%= toko_path(p.toko) %>"></a>
                                            </div>
                                            <% end %>
                                            <div class="add-to-cart">
                                                <a title="Detail Produk" href="<%= produk_path(p) %>">Detail</a>
                                            </div>
                                            <div class="group-price">
                                              <% if (Time.now - p.created_at).to_i/86400 < 3 %>
                                                <span class="product-new">NEW</span>
                                              <% end %>
                                              <% if p.harga_diskon.present? && p.harga_diskon > 0 %>
                                                <span class="product-sale">Sale</span>
                                              <% end %>
                                            </div>
                                        </div>
                                        <div class="right-block">
                                            <h5 class="product-name"><a href="#"><%= p.nama_produk %></a></h5>
                                            <div class="content_price">
                                                 <% if p.harga_diskon.present? && p.harga_diskon > 0 %>
                                                <span class="price product-price"><%= number_to_currency(p.harga_diskon, locale: :id) %></span>
                                                <span class="price old-price"><%= number_to_currency(p.harga, locale: :id) %></span>
                                              <% else %>
                                              <span class="price product-price"><%= number_to_currency(p.harga_beli, locale: :id) %></span>
                                              <span style="visibility:hidden;" class="price old-price"></span>
                                              <% end %>
                                            </div>
                                            <div class="product-star">
                                              <% if p.rating.present? %>
                                              <% p.rating.to_i.times do %>
                                                <i class="fa fa-star"></i>
                                              <% end %>
                                              <% (5 - p.rating.to_i).times do %>
                                                <i class="fa fa-star-o"></i>
                                              <% end %>
                                              <% else %>
                                              <i class="fa fa-star-o"></i>
                                              <i class="fa fa-star-o"></i>
                                              <i class="fa fa-star-o"></i>
                                              <i class="fa fa-star-o"></i>
                                              <i class="fa fa-star-o"></i>
                                              <% end %>
                                            </div>
                                        </div>
                                    </li>
                                  <% end %>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
           </div>
        </div>
        <!-- end featured category fashion -->
        <!-- featured category sports -->
        <div class="category-featured">
            <nav class="navbar nav-menu nav-menu-green show-brand">
              <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="navbar-brand"><a href="#">fashion wanita</a></div>
                  <span class="toggle-menu"></span>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse kategori">
                    <div class="keywords"><a data-no-turbolinks="true" href="/cari?utf8=✓&search=<%= Homeitem.find(21).text1 %>"> <%= Homeitem.find(21).text1 %> </a></div>
                    <div class="keywords"><a data-no-turbolinks="true" href="/cari?utf8=✓&search=<%= Homeitem.find(21).text2 %>"> <%= Homeitem.find(21).text2 %> </a></div>
                    <div class="keywords"><a data-no-turbolinks="true" href="/cari?utf8=✓&search=<%= Homeitem.find(21).text3 %>"> <%= Homeitem.find(21).text3 %> </a></div>
                  <ul class="nav navbar-nav">
                  </ul>
                </div><!-- /.navbar-collapse -->
              </div><!-- /.container-fluid -->
              <div id="elevator-2" class="floor-elevator">
                    <a href="#elevator-1" class="btn-elevator up fa fa-angle-up"></a>
                    <a href="#elevator-3" class="btn-elevator down fa fa-angle-down"></a>
              </div>
            </nav>
           <div class="product-featured clearfix">
                <div class="banner-featured">
                    <div class="featured-text"><span>featured</span></div>
                    <div class="banner-img">
                        <a href="#"><img alt="Featurered 2" src="<%= Homeitem.find(26).img2.url %>" /></a>
                    </div>
                </div>
                <div class="product-featured-content">
                    <div class="product-featured-list">
                        <div class="tab-container autoheight">
                            <!-- tab product -->
                            <div class="tab-panel active" id="tab-6">
                                <ul class="product-list owl-carousel" data-dots="false" data-loop="true" data-nav = "true" data-margin = "0" data-autoplayTimeout="1000" data-autoplayHoverPause = "true" data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":4}}'>
                                    <% @fashionwanita.each do |p| %>
                                    <li>
                                        <div class="left-block">
                                            <a href="<%= produk_path(p) %>">
                                                <img class="img-responsive" alt="product" src="<%= p.foto_produk1 %>" />
                                            </a>
                                            <% if user_signed_in? %>
                                                <% if !@fav.include? p.id %>
                                                <div class="quick-view produk-<%= p.id %>">
                                                  <%= form_for @favorite_produk, remote: true do |f| %>
                                                  <%= f.hidden_field :user_id, value: current_user.id %>
                                                  <%= f.hidden_field :produk_id, value: p.id %>
                                                  <input type="hidden" name="origin" value="home">
                                                  <button type="submit" title="Add to my wishlist" class="heart" ><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                                  <a title="Kunjungi Toko" class="compare" href="<%= toko_path(p.toko) %>"></a>
                                                  <% end %>
                                               </div>
                                             <% else %>
                                             <% @myfav = FavoriteProduk.where(:user_id => current_user.id, :produk_id => p.id).first %>
                                            <div class="quick-view produk-<%= p.id %>">
                                            <%= form_tag delfav_path, remote: true do %>
                                            <%= hidden_field_tag :id, @myfav.id %>
                                            <button title="Remove from wishlist" class="heart un" ><i class="fa fa-heart" aria-hidden="true"></i></button>
                                              <a title="Kunjungi Toko" class="compare" href="<%= toko_path(p.toko) %>"></a>
                                            <% end %>
                                            </div>
                                            <% end %>
                                          <% else %><!-- else if user signed in -->
                                            <div class="quick-view">
                                            <button type="submit" title="Add to my wishlist" class="heart" ><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                          <a title="Kunjungi Toko" class="compare" href="<%= toko_path(p.toko) %>"></a>
                                            </div>
                                            <% end %>
                                            <div class="add-to-cart">
                                                <a title="Detail Produk" href="<%= produk_path(p) %>">Detail</a>
                                            </div>
                                            <div class="group-price">
                                              <% if (Time.now - p.created_at).to_i/86400 < 3 %>
                                                <span class="product-new">NEW</span>
                                              <% end %>
                                              <% if p.harga_diskon.present? && p.harga_diskon > 0 %>
                                                <span class="product-sale">Sale</span>
                                              <% end %>
                                            </div>
                                        </div>
                                        <div class="right-block">
                                            <h5 class="product-name"><a href="#"><%= p.nama_produk %></a></h5>
                                            <div class="content_price">
                                                 <% if p.harga_diskon.present? && p.harga_diskon > 0 %>
                                                <span class="price product-price"><%= number_to_currency(p.harga_diskon, locale: :id) %></span>
                                                <span class="price old-price"><%= number_to_currency(p.harga, locale: :id) %></span>
                                              <% else %>
                                              <span class="price product-price"><%= number_to_currency(p.harga_beli, locale: :id) %></span>
                                              <span style="visibility:hidden;" class="price old-price"></span>
                                              <% end %>
                                            </div>
                                            <div class="product-star">
                                              <% if p.rating.present? %>
                                              <% p.rating.to_i.times do %>
                                                <i class="fa fa-star"></i>
                                              <% end %>
                                              <% (5 - p.rating.to_i).times do %>
                                                <i class="fa fa-star-o"></i>
                                              <% end %>
                                              <% else %>
                                              <i class="fa fa-star-o"></i>
                                              <i class="fa fa-star-o"></i>
                                              <i class="fa fa-star-o"></i>
                                              <i class="fa fa-star-o"></i>
                                              <i class="fa fa-star-o"></i>
                                              <% end %>
                                            </div>
                                        </div>
                                    </li>
                                  <% end %>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
           </div>
        </div>
        <!-- end featured category sports-->

        <!-- featured category electronic -->
        <div class="category-featured">
            <nav class="navbar nav-menu nav-menu-orange show-brand">
              <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="navbar-brand"><a href="#">toys & figure</a></div>
                  <span class="toggle-menu"></span>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse kategori">
                    <div class="keywords"><a data-no-turbolinks="true" href="/cari?utf8=✓&search=<%= Homeitem.find(22).text1 %>"> <%= Homeitem.find(22).text1 %> </a></div>
                    <div class="keywords"><a data-no-turbolinks="true" href="/cari?utf8=✓&search=<%= Homeitem.find(22).text2 %>"> <%= Homeitem.find(22).text2 %> </a></div>
                    <div class="keywords"><a data-no-turbolinks="true" href="/cari?utf8=✓&search=<%= Homeitem.find(22).text3 %>"> <%= Homeitem.find(22).text3 %> </a></div>
                  <ul class="nav navbar-nav">
                  </ul>
                </div><!-- /.navbar-collapse -->
              </div><!-- /.container-fluid -->
              <div id="elevator-3" class="floor-elevator">
                    <a href="#elevator-2" class="btn-elevator up fa fa-angle-up"></a>
                    <a href="#elevator-4" class="btn-elevator down fa fa-angle-down"></a>
              </div>
            </nav>
           <div class="product-featured clearfix">
                <div class="banner-featured">
                    <div class="featured-text"><span>featured</span></div>
                    <div class="banner-img">
                        <a href="#"><img alt="Featurered 3" src="<%= Homeitem.find(26).img3.url %>" /></a>
                    </div>
                </div>
                <div class="product-featured-content">
                    <div class="product-featured-list">
                        <div class="tab-container autoheight">
                            <!-- tab product -->
                            <div class="tab-panel active" id="tab-8">
                                <ul class="product-list owl-carousel"  data-dots="false" data-loop="true" data-nav="true" data-margin = "0" data-autoplayTimeout="1000" data-autoplayHoverPause = "true" data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":4}}'>
                                    <% @toys.each do |p| %>
                                    <li>
                                        <div class="left-block">
                                            <a href="<%= produk_path(p) %>">
                                                <img class="img-responsive" alt="product" src="<%= p.foto_produk1 %>" />
                                            </a>
                                            <% if user_signed_in? %>
                                                <% if !@fav.include? p.id %>
                                                <div class="quick-view produk-<%= p.id %>">
                                                  <%= form_for @favorite_produk, remote: true do |f| %>
                                                  <%= f.hidden_field :user_id, value: current_user.id %>
                                                  <%= f.hidden_field :produk_id, value: p.id %>
                                                  <input type="hidden" name="origin" value="home">
                                                  <button type="submit" title="Add to my wishlist" class="heart" ><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                                  <a title="Kunjungi Toko" class="compare" href="<%= toko_path(p.toko) %>"></a>
                                                  <% end %>
                                               </div>
                                             <% else %>
                                             <% @myfav = FavoriteProduk.where(:user_id => current_user.id, :produk_id => p.id).first %>
                                            <div class="quick-view produk-<%= p.id %>">
                                            <%= form_tag delfav_path, remote: true do %>
                                            <%= hidden_field_tag :id, @myfav.id %>
                                            <button title="Remove from wishlist" class="heart un" ><i class="fa fa-heart" aria-hidden="true"></i></button>
                                              <a title="Kunjungi Toko" class="compare" href="<%= toko_path(p.toko) %>"></a>
                                            <% end %>
                                            </div>
                                            <% end %>
                                          <% else %><!-- else if user signed in -->
                                            <div class="quick-view">
                                            <button type="submit" title="Add to my wishlist" class="heart" ><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                          <a title="Kunjungi Toko" class="compare" href="<%= toko_path(p.toko) %>"></a>
                                            </div>
                                            <% end %>
                                            <div class="add-to-cart">
                                                <a title="Detail Produk" href="<%= produk_path(p) %>">Detail</a>
                                            </div>
                                            <div class="group-price">
                                              <% if (Time.now - p.created_at).to_i/86400 < 3 %>
                                                <span class="product-new">NEW</span>
                                              <% end %>
                                              <% if p.harga_diskon.present? && p.harga_diskon > 0 %>
                                                <span class="product-sale">Sale</span>
                                              <% end %>
                                            </div>
                                        </div>
                                        <div class="right-block">
                                            <h5 class="product-name"><a href="#"><%= p.nama_produk %></a></h5>
                                            <div class="content_price">
                                                 <% if p.harga_diskon.present? && p.harga_diskon > 0 %>
                                                <span class="price product-price"><%= number_to_currency(p.harga_diskon, locale: :id) %></span>
                                                <span class="price old-price"><%= number_to_currency(p.harga, locale: :id) %></span>
                                              <% else %>
                                              <span class="price product-price"><%= number_to_currency(p.harga_beli, locale: :id) %></span>
                                              <span style="visibility:hidden;" class="price old-price"></span>
                                              <% end %>
                                            </div>
                                            <div class="product-star">
                                              <% if p.rating.present? %>
                                              <% p.rating.to_i.times do %>
                                                <i class="fa fa-star"></i>
                                              <% end %>
                                              <% (5 - p.rating.to_i).times do %>
                                                <i class="fa fa-star-o"></i>
                                              <% end %>
                                              <% else %>
                                              <i class="fa fa-star-o"></i>
                                              <i class="fa fa-star-o"></i>
                                              <i class="fa fa-star-o"></i>
                                              <i class="fa fa-star-o"></i>
                                              <i class="fa fa-star-o"></i>
                                              <% end %>
                                            </div>
                                        </div>
                                    </li>
                                  <% end %>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
           </div>
        </div>
        <!-- end featured category electronic-->
        <!-- featured category Digital -->
        <div class="category-featured">
            <nav class="navbar nav-menu nav-menu-blue show-brand">
              <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="navbar-brand"><a href="#">elektronik</a></div>
                  <span class="toggle-menu"></span>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse kategori">
                    <div class="keywords"><a data-no-turbolinks="true" href="/cari?utf8=✓&search=<%= Homeitem.find(23).text1 %>"> <%= Homeitem.find(23).text1 %> </a></div>
                    <div class="keywords"><a data-no-turbolinks="true" href="/cari?utf8=✓&search=<%= Homeitem.find(23).text2 %>"> <%= Homeitem.find(23).text2 %> </a></div>
                    <div class="keywords"><a data-no-turbolinks="true" href="/cari?utf8=✓&search=<%= Homeitem.find(23).text3 %>"> <%= Homeitem.find(23).text3 %> </a></div>
                  <ul class="nav navbar-nav">
                  </ul>
                </div><!-- /.navbar-collapse -->
              </div><!-- /.container-fluid -->
              <div id="elevator-4" class="floor-elevator">
                    <a href="#elevator-3" class="btn-elevator up fa fa-angle-up"></a>
                    <a href="#elevator-5" class="btn-elevator down fa fa-angle-down"></a>
              </div>
            </nav>
           <div class="product-featured clearfix">
                <div class="banner-featured">
                    <div class="featured-text"><span>featured</span></div>
                    <div class="banner-img">
                        <a href="#"><img alt="Featurered 4" src="<%= Homeitem.find(26).img4.url %>" /></a>
                    </div>
                </div>
                <div class="product-featured-content">
                    <div class="product-featured-list">
                        <div class="tab-container autoheight">
                            <!-- tab product -->
                            <div class="tab-panel active" id="tab-10">
                                <ul class="product-list owl-carousel"  data-dots="false" data-loop="true" data-nav = "true" data-margin = "0" data-autoplayTimeout="1000" data-autoplayHoverPause = "true" data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":4}}'>
                                    <% @elektronik.each do |p| %>
                                    <li>
                                        <div class="left-block">
                                            <a href="<%= produk_path(p) %>">
                                                <img class="img-responsive" alt="product" src="<%= p.foto_produk1 %>" />
                                            </a>
                                            <% if user_signed_in? %>
                                                <% if !@fav.include? p.id %>
                                                <div class="quick-view produk-<%= p.id %>">
                                                  <%= form_for @favorite_produk, remote: true do |f| %>
                                                  <%= f.hidden_field :user_id, value: current_user.id %>
                                                  <%= f.hidden_field :produk_id, value: p.id %>
                                                  <input type="hidden" name="origin" value="home">
                                                  <button type="submit" title="Add to my wishlist" class="heart" ><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                                  <a title="Kunjungi Toko" class="compare" href="<%= toko_path(p.toko) %>"></a>
                                                  <% end %>
                                               </div>
                                             <% else %>
                                             <% @myfav = FavoriteProduk.where(:user_id => current_user.id, :produk_id => p.id).first %>
                                            <div class="quick-view produk-<%= p.id %>">
                                            <%= form_tag delfav_path, remote: true do %>
                                            <%= hidden_field_tag :id, @myfav.id %>
                                            <button title="Remove from wishlist" class="heart un" ><i class="fa fa-heart" aria-hidden="true"></i></button>
                                              <a title="Kunjungi Toko" class="compare" href="<%= toko_path(p.toko) %>"></a>
                                            <% end %>
                                            </div>
                                            <% end %>
                                          <% else %><!-- else if user signed in -->
                                            <div class="quick-view">
                                            <button type="submit" title="Add to my wishlist" class="heart" ><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                          <a title="Kunjungi Toko" class="compare" href="<%= toko_path(p.toko) %>"></a>
                                            </div>
                                            <% end %>
                                            <div class="add-to-cart">
                                                <a title="Detail Produk" href="<%= produk_path(p) %>">Detail</a>
                                            </div>
                                            <div class="group-price">
                                              <% if (Time.now - p.created_at).to_i/86400 < 3 %>
                                                <span class="product-new">NEW</span>
                                              <% end %>
                                              <% if p.harga_diskon.present? && p.harga_diskon > 0 %>
                                                <span class="product-sale">Sale</span>
                                              <% end %>
                                            </div>
                                        </div>
                                        <div class="right-block">
                                            <h5 class="product-name"><a href="#"><%= p.nama_produk %></a></h5>
                                            <div class="content_price">
                                                 <% if p.harga_diskon.present? && p.harga_diskon > 0 %>
                                                <span class="price product-price"><%= number_to_currency(p.harga_diskon, locale: :id) %></span>
                                                <span class="price old-price"><%= number_to_currency(p.harga, locale: :id) %></span>
                                              <% else %>
                                              <span class="price product-price"><%= number_to_currency(p.harga_beli, locale: :id) %></span>
                                              <span style="visibility:hidden;" class="price old-price"></span>
                                              <% end %>
                                            </div>
                                            <div class="product-star">
                                              <% if p.rating.present? %>
                                              <% p.rating.to_i.times do %>
                                                <i class="fa fa-star"></i>
                                              <% end %>
                                              <% (5 - p.rating.to_i).times do %>
                                                <i class="fa fa-star-o"></i>
                                              <% end %>
                                              <% else %>
                                              <i class="fa fa-star-o"></i>
                                              <i class="fa fa-star-o"></i>
                                              <i class="fa fa-star-o"></i>
                                              <i class="fa fa-star-o"></i>
                                              <i class="fa fa-star-o"></i>
                                              <% end %>
                                            </div>
                                        </div>
                                    </li>
                                  <% end %>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
           </div>
        </div>
        <!-- end featured category Digital-->
        <!-- featured category furniture -->
        <div class="category-featured">
            <nav class="navbar nav-menu nav-menu-blue2 show-brand">
              <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="navbar-brand"><a href="#">book / comic</a></div>
                  <span class="toggle-menu"></span>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse kategori">
                    <div class="keywords"><a data-no-turbolinks="true" href="/cari?utf8=✓&search=<%= Homeitem.find(24).text1 %>"> <%= Homeitem.find(24).text1 %> </a></div>
                    <div class="keywords"><a data-no-turbolinks="true" href="/cari?utf8=✓&search=<%= Homeitem.find(24).text2 %>"> <%= Homeitem.find(24).text2 %> </a></div>
                    <div class="keywords"><a data-no-turbolinks="true" href="/cari?utf8=✓&search=<%= Homeitem.find(24).text3 %>"> <%= Homeitem.find(24).text3 %> </a></div>
                  <ul class="nav navbar-nav">
                  </ul>
                </div><!-- /.navbar-collapse -->
              </div><!-- /.container-fluid -->
              <div id="elevator-5" class="floor-elevator">
                    <a href="#elevator-4" class="btn-elevator up fa fa-angle-up"></a>
                    <a href="#elevator-6" class="btn-elevator down fa fa-angle-down"></a>
              </div>
            </nav>
           <div class="product-featured clearfix">
                <div class="banner-featured">
                    <div class="featured-text"><span>featured</span></div>
                    <div class="banner-img">
                        <a href="#"><img alt="Featurered 5" src="<%= Homeitem.find(26).img5.url %>" /></a>
                    </div>
                </div>
                <div class="product-featured-content">
                    <div class="product-featured-list">
                        <div class="tab-container autoheight">
                            <!-- tab product -->
                            <div class="tab-panel active" id="tab-12">
                                <ul class="product-list owl-carousel"  data-dots="false" data-loop="true" data-nav = "true" data-margin = "0" data-autoplayTimeout="1000" data-autoplayHoverPause = "true" data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":4}}'>
                                    <% @book.each do |p| %>
                                    <li>
                                        <div class="left-block">
                                            <a href="<%= produk_path(p) %>">
                                                <img class="img-responsive" alt="product" src="<%= p.foto_produk1 %>" />
                                            </a>
                                            <% if user_signed_in? %>
                                                <% if !@fav.include? p.id %>
                                                <div class="quick-view produk-<%= p.id %>">
                                                  <%= form_for @favorite_produk, remote: true do |f| %>
                                                  <%= f.hidden_field :user_id, value: current_user.id %>
                                                  <%= f.hidden_field :produk_id, value: p.id %>
                                                  <input type="hidden" name="origin" value="home">
                                                  <button type="submit" title="Add to my wishlist" class="heart" ><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                                  <a title="Kunjungi Toko" class="compare" href="<%= toko_path(p.toko) %>"></a>
                                                  <% end %>
                                               </div>
                                             <% else %>
                                             <% @myfav = FavoriteProduk.where(:user_id => current_user.id, :produk_id => p.id).first %>
                                            <div class="quick-view produk-<%= p.id %>">
                                            <%= form_tag delfav_path, remote: true do %>
                                            <%= hidden_field_tag :id, @myfav.id %>
                                            <button title="Remove from wishlist" class="heart un" ><i class="fa fa-heart" aria-hidden="true"></i></button>
                                              <a title="Kunjungi Toko" class="compare" href="<%= toko_path(p.toko) %>"></a>
                                            <% end %>
                                            </div>
                                            <% end %>
                                          <% else %><!-- else if user signed in -->
                                            <div class="quick-view">
                                            <button type="submit" title="Add to my wishlist" class="heart" ><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                          <a title="Kunjungi Toko" class="compare" href="<%= toko_path(p.toko) %>"></a>
                                            </div>
                                            <% end %>
                                            <div class="add-to-cart">
                                                <a title="Detail Produk" href="<%= produk_path(p) %>">Detail</a>
                                            </div>
                                            <div class="group-price">
                                              <% if (Time.now - p.created_at).to_i/86400 < 3 %>
                                                <span class="product-new">NEW</span>
                                              <% end %>
                                              <% if p.harga_diskon.present? && p.harga_diskon > 0 %>
                                                <span class="product-sale">Sale</span>
                                              <% end %>
                                            </div>
                                        </div>
                                        <div class="right-block">
                                            <h5 class="product-name"><a href="#"><%= p.nama_produk %></a></h5>
                                            <div class="content_price">
                                                 <% if p.harga_diskon.present? && p.harga_diskon > 0 %>
                                                <span class="price product-price"><%= number_to_currency(p.harga_diskon, locale: :id) %></span>
                                                <span class="price old-price"><%= number_to_currency(p.harga, locale: :id) %></span>
                                              <% else %>
                                              <span class="price product-price"><%= number_to_currency(p.harga_beli, locale: :id) %></span>
                                              <span style="visibility:hidden;" class="price old-price"></span>
                                              <% end %>
                                            </div>
                                            <div class="product-star">
                                              <% if p.rating.present? %>
                                              <% p.rating.to_i.times do %>
                                                <i class="fa fa-star"></i>
                                              <% end %>
                                              <% (5 - p.rating.to_i).times do %>
                                                <i class="fa fa-star-o"></i>
                                              <% end %>
                                              <% else %>
                                              <i class="fa fa-star-o"></i>
                                              <i class="fa fa-star-o"></i>
                                              <i class="fa fa-star-o"></i>
                                              <i class="fa fa-star-o"></i>
                                              <i class="fa fa-star-o"></i>
                                              <% end %>
                                            </div>
                                        </div>
                                    </li>
                                  <% end %>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
           </div>
        </div>
        <!-- end featured category furniture-->
        <!-- featured category jewelry -->
        <div class="category-featured">
            <nav class="navbar nav-menu nav-menu-gray show-brand">
              <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="navbar-brand"><a href="#">food & snack</a></div>
                  <span class="toggle-menu"></span>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse kategori">
                    <div class="keywords"><a data-no-turbolinks="true" href="/cari?utf8=✓&search=<%= Homeitem.find(25).text1 %>"> <%= Homeitem.find(25).text1 %> </a></div>
                    <div class="keywords"><a data-no-turbolinks="true" href="/cari?utf8=✓&search=<%= Homeitem.find(25).text2 %>"> <%= Homeitem.find(25).text2 %> </a></div>
                    <div class="keywords"><a data-no-turbolinks="true" href="/cari?utf8=✓&search=<%= Homeitem.find(25).text3 %>"> <%= Homeitem.find(25).text3 %> </a></div>
                  <ul class="nav navbar-nav">
                  </ul>
                </div><!-- /.navbar-collapse -->
              </div><!-- /.container-fluid -->
              <div id="elevator-6" class="floor-elevator">
                    <a href="#elevator-5" class="btn-elevator up fa fa-angle-up"></a>
                    <a href="#" class="btn-elevator disabled down fa fa-angle-down"></a>
              </div>
            </nav>
           <div class="product-featured clearfix">
                <div class="banner-featured">
                    <div class="featured-text"><span>featured</span></div>
                    <div class="banner-img">
                        <a href="#"><img alt="Featurered 6" src="<%= Homeitem.find(26).img6.url %>" /></a>
                    </div>
                </div>
                <div class="product-featured-content">
                    <div class="product-featured-list">
                        <div class="tab-container autoheight">
                            <!-- tab product -->
                            <div class="tab-panel active" id="tab-14">
                                <ul class="product-list owl-carousel"  data-dots="false" data-loop="true" data-nav = "true" data-margin = "0" data-autoplayTimeout="1000" data-autoplayHoverPause = "true" data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":4}}'>
                                    <% @food.each do |p| %>
                                    <li>
                                        <div class="left-block">
                                            <a href="<%= produk_path(p) %>">
                                                <img class="img-responsive" alt="product" src="<%= p.foto_produk1 %>" />
                                            </a>
                                            <% if user_signed_in? %>
                                                <% if !@fav.include? p.id %>
                                                <div class="quick-view produk-<%= p.id %>">
                                                  <%= form_for @favorite_produk, remote: true do |f| %>
                                                  <%= f.hidden_field :user_id, value: current_user.id %>
                                                  <%= f.hidden_field :produk_id, value: p.id %>
                                                  <input type="hidden" name="origin" value="home">
                                                  <button type="submit" title="Add to my wishlist" class="heart" ><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                                  <a title="Kunjungi Toko" class="compare" href="<%= toko_path(p.toko) %>"></a>
                                                  <% end %>
                                               </div>
                                             <% else %>
                                             <% @myfav = FavoriteProduk.where(:user_id => current_user.id, :produk_id => p.id).first %>
                                            <div class="quick-view produk-<%= p.id %>">
                                            <%= form_tag delfav_path, remote: true do %>
                                            <%= hidden_field_tag :id, @myfav.id %>
                                            <button title="Remove from wishlist" class="heart un" ><i class="fa fa-heart" aria-hidden="true"></i></button>
                                              <a title="Kunjungi Toko" class="compare" href="<%= toko_path(p.toko) %>"></a>
                                            <% end %>
                                            </div>
                                            <% end %>
                                          <% else %><!-- else if user signed in -->
                                            <div class="quick-view">
                                            <button type="submit" title="Add to my wishlist" class="heart" ><i class="fa fa-heart-o" aria-hidden="true"></i></button>
                                          <a title="Kunjungi Toko" class="compare" href="<%= toko_path(p.toko) %>"></a>
                                            </div>
                                            <% end %>
                                            <div class="add-to-cart">
                                                <a title="Detail Produk" href="<%= produk_path(p) %>">Detail</a>
                                            </div>
                                            <div class="group-price">
                                              <% if (Time.now - p.created_at).to_i/86400 < 3 %>
                                                <span class="product-new">NEW</span>
                                              <% end %>
                                              <% if p.harga_diskon.present? && p.harga_diskon > 0 %>
                                                <span class="product-sale">Sale</span>
                                              <% end %>
                                            </div>
                                        </div>
                                        <div class="right-block">
                                            <h5 class="product-name"><a href="#"><%= p.nama_produk %></a></h5>
                                            <div class="content_price">
                                                 <% if p.harga_diskon.present? && p.harga_diskon > 0 %>
                                                <span class="price product-price"><%= number_to_currency(p.harga_diskon, locale: :id) %></span>
                                                <span class="price old-price"><%= number_to_currency(p.harga, locale: :id) %></span>
                                              <% else %>
                                              <span class="price product-price"><%= number_to_currency(p.harga_beli, locale: :id) %></span>
                                              <span style="visibility:hidden;" class="price old-price"></span>
                                              <% end %>
                                            </div>
                                            <div class="product-star">
                                              <% if p.rating.present? %>
                                              <% p.rating.to_i.times do %>
                                                <i class="fa fa-star"></i>
                                              <% end %>
                                              <% (5 - p.rating.to_i).times do %>
                                                <i class="fa fa-star-o"></i>
                                              <% end %>
                                              <% else %>
                                              <i class="fa fa-star-o"></i>
                                              <i class="fa fa-star-o"></i>
                                              <i class="fa fa-star-o"></i>
                                              <i class="fa fa-star-o"></i>
                                              <i class="fa fa-star-o"></i>
                                              <% end %>
                                            </div>
                                        </div>
                                    </li>
                                  <% end %>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
           </div>
        </div>
        <!-- end featured category jewelry-->

        <!-- Baner bottom -->
        <div class="row banner-bottom">
            <div class="col-sm-6">
                <div class="banner-boder-zoom">
                    <a href="<%= Homeitem.find(27).text1 %>"><img alt="iklan" class="img-responsive" src="<%= Homeitem.find(27).img1.url %>" /></a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="banner-boder-zoom">
                    <a href="<%= Homeitem.find(27).text2 %>"><img alt="iklan" class="img-responsive" src="<%= Homeitem.find(27).img2.url %>" /></a>
                </div>
            </div>
        </div>
        <!-- end banner bottom -->
    </div>
</div>

<div class="container">
    <div class="brand-showcase">
        <h2 class="brand-showcase-title">
            brand showcase
        </h2>
        <div class="brand-showcase-box">
            <ul class="brand-showcase-logo owl-carousel" data-loop="true" data-nav = "true" data-dots="false" data-margin = "1" data-autoplayTimeout="1000" data-autoplayHoverPause = "true" data-responsive='{"0":{"items":2},"600":{"items":5},"1000":{"items":8}}'>
                <li class="item merk"><img src="<%= Homeitem.find(31).img1.url %>" alt="logo" class="item-img" /></li>
                <li class="item merk"><img src="<%= Homeitem.find(31).img2.url %>" alt="logo" class="item-img" /></li>
                <li class="item merk"><img src="<%= Homeitem.find(31).img3.url %>" alt="logo" class="item-img" /></li>
                <li class="item merk"><img src="<%= Homeitem.find(31).img4.url %>" alt="logo" class="item-img" /></li>
                <li class="item merk"><img src="<%= Homeitem.find(31).img5.url %>" alt="logo" class="item-img" /></li>
                <li class="item merk"><img src="<%= Homeitem.find(31).img6.url %>" alt="logo" class="item-img" /></li>
                <li class="item merk"><img src="<%= Homeitem.find(31).img7.url %>" alt="logo" class="item-img" /></li>
                <li class="item merk"><img src="<%= Homeitem.find(31).img8.url %>" alt="logo" class="item-img" /></li>
                <li class="item merk"><img src="<%= Homeitem.find(31).img9.url %>" alt="logo" class="item-img" /></li>
            </ul>
        </div>

    </div>
</div>

<div id="content-wrap">
    <div class="container">
        <div id="hot-categories" class="row">
            <div class="col-sm-12 group-title-box">
                <h2 class="group-title ">
                    <span>Hot categories</span>
                </h2>
            </div>

            <div class="col-sm-6  col-lg-3 cate-box">
                <div class="cate-tit" >
                    <div class="div-1" style="width: 46%;">
                        <div class="cate-name-wrap">
                            <p class="cate-name">Electronics</p>
                        </div>
                        <a href="" class="cate-link link-active" data-ac="flipInX" ><span>shop now</span></a>
                    </div>
                    <div class="div-2" >
                        <a href="#">
                            <img src="assets/data/cate-product1.png" alt="Electronics" class="hot-cate-img" />
                        </a>
                    </div>

                </div>
                <div class="cate-content">
                    <ul>
                        <li><a href="#">Batteries & Chargers</a></li>
                        <li><a href="#">Headphone, Headset</a></li>
                        <li><a href="#">Home Audio</a></li>
                        <li><a href="#">Mp3 Player Accessories</a></li>
                    </ul>
                </div>
            </div> <!-- /.cate-box -->

            <div class="col-sm-6  col-lg-3 cate-box">
                <div class="cate-tit" >
                    <div class="div-1" style="width: 46%;">
                        <div class="cate-name-wrap">
                            <p class="cate-name">Sport & Outdoors</p>
                        </div>
                        <a href="" class="cate-link" data-ac="flipInX" ><span>shop now</span></a>
                    </div>
                    <div class="div-2" >
                        <a href="#">
                            <img src="assets/data/cate-product2.png" alt="Electronics" class="hot-cate-img" />
                        </a>
                    </div>
                </div>
                <div class="cate-content">
                    <ul>
                        <li><a href="#">Golf Supplies</a></li>
                        <li><a href="#">Outdoor & Traveling Supplies</a></li>
                        <li><a href="#">Camping & Hiking</a></li>
                        <li><a href="#">Fishing</a></li>
                    </ul>
                </div>
            </div> <!-- /.cate-box -->
            <div class="col-sm-6  col-lg-3 cate-box">
                <div class="cate-tit" >
                    <div class="div-1" style="width: 46%;">
                        <div class="cate-name-wrap">
                            <p class="cate-name">Fashion</p>
                        </div>
                        <a href="" class="cate-link" data-ac="flipInX" ><span>shop now</span></a>
                    </div>
                    <div class="div-2" >
                        <a href="#">
                            <img src="assets/data/cate-product3.png" alt="Electronics" class="hot-cate-img"/>
                        </a>
                    </div>

                </div>
                <div class="cate-content">
                    <ul>
                        <li><a href="#">Batteries & Chargers</a></li>
                        <li><a href="#">Headphone, Headset</a></li>
                        <li><a href="#">Home Audio</a></li>
                        <li><a href="#">Mp3 Player Accessories</a></li>
                    </ul>
                </div>
            </div> <!-- /.cate-box -->
            <div class="col-sm-6  col-lg-3 cate-box">
                <div class="cate-tit" >
                    <div class="div-1" style="width: 46%;">
                        <div class="cate-name-wrap">
                            <p class="cate-name">Health & Beauty</p>
                        </div>
                        <a href="" class="cate-link" data-ac="flipInX" ><span>shop now</span></a>
                    </div>
                    <div class="div-2" >
                        <a href="#">
                            <img src="assets/data/cate-product4.png" alt="Electronics" class="hot-cate-img" />
                        </a>
                    </div>

                </div>
                <div class="cate-content">
                    <ul>
                        <li><a href="#">Bath & Body</a></li>
                        <li><a href="#">Shaving & Hair Removal</a></li>
                        <li><a href="#">Fragrances</a></li>
                        <li><a href="#">Salon & Spa Equipment</a></li>
                    </ul>
                </div>
            </div> <!-- /.cate-box -->
            <div class="col-sm-6  col-lg-3 cate-box">
                <div class="cate-tit" >
                    <div class="div-1" style="width: 46%;">
                        <div class="cate-name-wrap">
                            <p class="cate-name">Jewelry & Watches</p>
                        </div>
                        <a href="" class="cate-link" data-ac="flipInX" ><span>shop now</span></a>
                    </div>
                    <div class="div-2" >
                        <a href="#">
                            <img src="assets/data/cate-product5.png" alt="Electronics" class="hot-cate-img" />
                        </a>
                    </div>
                </div>
                <div class="cate-content">
                    <ul>
                        <li><a href="#">Men Watches</a></li>
                        <li><a href="#">Wedding Rings</a></li>
                        <li><a href="#">Earring</a></li>
                        <li><a href="#">Necklaces</a></li>
                    </ul>
                </div>
            </div> <!-- /.cate-box -->

            <div class="col-sm-6  col-lg-3 cate-box">
                <div class="cate-tit" >
                    <div class="div-1" style="width: 46%;">
                        <div class="cate-name-wrap">
                            <p class="cate-name">Digital</p>
                        </div>
                        <a href="" class="cate-link" data-ac="flipInX" ><span>shop now</span></a>
                    </div>
                    <div class="div-2" >
                        <a href="#">
                            <img src="assets/data/cate-product6.png" alt="Electronics" class="hot-cate-img" />
                        </a>
                    </div>
                </div>
                <div class="cate-content">
                    <ul>
                        <li><a href="#">Accessories for iPhone</a></li>
                        <li><a href="#">Accessories for iPad</a></li>
                        <li><a href="#">Accessories for Tablet PC</a></li>
                        <li><a href="#">Tablet PC</a></li>
                    </ul>
                </div>
            </div><!-- /.cate-box -->
            <div class="col-sm-6  col-lg-3 cate-box">
                <div class="cate-tit" >
                    <div class="div-1" style="width: 46%;">
                        <div class="cate-name-wrap">
                            <p class="cate-name">Furniture</p>
                        </div>
                        <a href="" class="cate-link" data-ac="flipInX" ><span>shop now</span></a>
                    </div>
                    <div class="div-2" >
                        <a href="#">
                            <img src="assets/data/cate-product7.png" alt="Electronics" class="hot-cate-img" />
                        </a>
                    </div>

                </div>
                <div class="cate-content">
                    <ul>
                        <li><a href="#">Batteries & Chargers</a></li>
                        <li><a href="#">Headphone, Headset</a></li>
                        <li><a href="#">Home Audio</a></li>
                        <li><a href="#">Mp3 Player Accessories</a></li>
                    </ul>
                </div>
            </div> <!-- /.cate-box -->
            <div class="col-sm-6  col-lg-3 cate-box">
                <div class="cate-tit" >
                    <div class="div-1" style="width: 46%;">
                        <div class="cate-name-wrap">
                            <p class="cate-name">Toys & Hobbies</p>
                        </div>
                        <a href="" class="cate-link" data-ac="flipInX" ><span>shop now</span></a>
                    </div>
                    <div class="div-2" >
                        <a href="#">
                            <img src="assets/data/cate-product8.png" alt="Electronics" class="hot-cate-img" />
                        </a>
                    </div>
                </div>
                <div class="cate-content">
                    <ul>
                        <li><a href="#">Walkera</a></li>
                        <li><a href="#">Fpv System & Parts</a></li>
                        <li><a href="#">RC Cars & Parts</a></li>
                        <li><a href="#">Helicopters & Part</a></li>
                    </ul>
                </div>
            </div><!-- /.cate-box -->
        </div> <!-- /#hot-categories -->

    </div> <!-- /.container -->
</div>
</div>

<!-- Footer -->
<%= render 'layouts/torakofooter' %>