<%= render 'layouts/torakoheader' %>
		<div class="spacermedium"></div>

		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<button type="button" class="btn" id="btn-SHsidebar"><i class="fa fa-user" style="margin-right:1em;"></i> Member Menu</button>
				</div>
			</div>
			<div class="row">
				<%= render 'layouts/sidebar' %>
				<div class="col-md-9 col-sm-9 wrappermakctn">
					<div class="row">
						<div class="col-md-12">
							<%= render 'layouts/buyertab' %>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="headingmac">
                <h4>Pembayaran yang belum dikonfirmasi:</h4>
                  <% if notice.to_s.include? "TELAH" %>
                <br><div id="notice" style="color:white;background:green;padding:3px;text-align:center;"><%= notice %></div>
                  <% end %>
                  <% if notice.to_s.include? "BELUM" %>
                <br><div id="notice" style="color:white;background:#ED245B;padding:3px;text-align:center;"> <%= notice %></div>
                  <% end %>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="colomacr">
                <% if @troli2.blank? %>
                <p>Anda tidak memiliki pembayaran yang perlu dikonfirmasi</p>
                <% end %>
                <% @troli2live.each do |t| %>
								<div class="list-konpem-outer">
									<p class="invoice">Invoice : <strong><%= t.invoice %></strong></p>
									<p class="dtime-transaksi">Tanggal Transaksi : <%= t.created_at.in_time_zone("Jakarta").strftime("%d-%m-%Y %H:%M") %> WIB</p>
									<p>Pembelian dari Toko : <strong><%= Toko.find(t.toko_id).nama_toko %></strong></p>
									<p class="ttl-tagihan">Total Tagihan : <strong><%= number_to_currency(t.subtotal, locale: :id) %></strong></p>
									<div class="spacermedium"></div>
									<div class="wrapdtkonf">
										<div class="heading-wdkf">
											<h4>Pembelian dari Toko : <strong style="text-transform:capitalize;"><%= Toko.find(t.toko_id).nama_toko %></strong></h4>
										</div>
										<div class="row">
											<div class="col-md-6 lpwp">
												<span class="imglpwp"><img src="<%= Produk.find(t.produk_id).foto_produk1.url %>" class="responsiveimg"></span>
												<h4><%= Produk.find(t.produk_id).nama_produk %></h4>
												<p><%= t.jumlah %> X <%= number_to_currency((t.subtotal - t.ongkir) / t.jumlah, locale: :id) %></p>
											</div>
											<div class="col-md-3">
												<label>Subtotal</label>
												<p><%= number_to_currency(t.subtotal - t.ongkir, locale: :id) %></p>
											</div>
											<div class="col-md-3">
												<label>Ongkir</label>
												<p><%= number_to_currency(t.ongkir,locale: :id) %></p>
											</div>
										</div>
										<hr style="border-color:#ddd;"></hr>
										<div class="row">
											<div class="col-md-6">
												<label>Tujuan Pengiriman</label>
												<p>Penerima : <%= Alamat.find(t.alamat_id).sebagai %></p>
												<p>Telp : <%= Alamat.find(t.alamat_id).nomor_telepon %></p>
												<p>
													<%= Alamat.find(t.alamat_id).alamat %>, <%= Alamat.find(t.alamat_id).kecamatan %>, <%= Alamat.find(t.alamat_id).provinsi %> <%= Alamat.find(t.alamat_id).kode_pos %>
												</p>
											</div>
											<div class="col-md-6">
												<label>Kurir</label>
												<p><%= t.kurir %></p>
												<label>Keterangan</label>
												<p><%= t.catatan %></p>
											</div>
										</div>
										<hr style="border-color:#ddd;"></hr>
										<div class="row">
											<div class="col-md-12" style="text-align:right;font-size:18px;">
												<label class="typeorange">Total : <%= t.subtotal %></label>
											</div>
										</div>
									</div>
									<div class="spacermedium"></div>
                  <% if (t.created_at + 4.days - Time.now).to_i/86400 > 0 %>
									<button class="btn-konfirmasipb">Konfirmasi</button>
                  <% else %>
                  <a href="/expired/<%= t.id %>" class="btn-konfirmasipb">Hapus Dari Daftar</a>
                  <% end %>
									<a href="#/" class="showdtkonf"><i class="fa fa-plus"></i>&nbsp; Tampilkan Detail</a>
                  <div class="form-konfirmasi">
                    <input type="hidden" value="<%= t.id %>" name="cart_id">
                    <label>Bank Pengirim</label>
                    <input type="text" placeholder="Bank Pengirim. cth Bank Mandiri" name="">
                    <label>Bank Tujuan</label>
                    <select  name="">
                      <option>BCA 5556883 Torako</option>
                      <option>BNI 5556883 Torako</option>
                      <option>BRI 5556883 Torako</option>
                      <option>Mandiri 5556883 Torako</option>
                    </select>
                    <label>Nama Pengirim</label>
                    <input type="text" placeholder="Nama Pengirim. cth Johan" name="">
                    <label>Nominal</label>
                    <input type="text" placeholder="Nominal Transfer. cth 120000" name="">
                    <label>Tanggal Transfer</label>
                    <input type="text" id="datepicker" placeholder="Tanggal Transfer. cth 12/02/2016" name="">
                    <label>Waktu Transfer</label>
                    <input type="text" placeholder="Waktu Transfer. cth 12:30 WIB" name="">
                    <button type="submit" class="btn btn-success">Konfirmasi</button>
                  </div>
								</div>
								<% end %>
							</div>
						</div>
					</div>
				</div>
			</div>
    </div>
    <%= render 'layouts/torakofooter' %>

<script>
  $(document).on('ready page:load', function () {
      $("#notice").delay(3000).fadeOut("slow");
  });
</script>