<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= User.find(@mycart.last.user_id).namalengkap %></h1>
    <p>
      Pesanan Anda, untuk invoice <% @mycart.each do |c| %><%= c.invoice %>,<% end %><br />
      Nomor Virtual Account: <strong><%= @van %><br></strong>
            Bank: <strong><%= @bank %><br></strong>
            Jumlah Transfer: <strong><%= number_to_currency(@amount, locale: :id) %><br></strong>
            Valid Sampai: <strong><%= @date.to_date.strftime("%d-%m-%Y") %> <%= @time[0..1] + ":" + @time[2..3] %> WIB<br></strong><br><br>

            Cara Pembayaran ATM:<br>
            1. Pilih Menu Transaksi Lainnya<br>
            2. Pilih Transfer<br>
            3. Pilih Ke rekening BCA Virtual Account<br>
            4. Input Nomor Virtual Account, misal. 123456789012XXXX<br>
            5. Pilih Benar<br>
            6. Pilih Ya<br>
            7. Ambil bukti bayar anda<br>
            8. Selesai<br>
    </p>
  </body>
</html>