<%= render 'layouts/torakoheader' %>
		<!-- ./Header -->

		<div class="spacermedium"></div>

		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<button type="button" class="btn" id="btn-SHsidebar"><i class="fa fa-user" style="margin-right:1em;"></i> Member Menu</button>
				</div>
			</div>
			<div class="row">
				<%= render 'layouts/sidebar' %>
				<div class="col-md-9 col-sm-9 wrappermakctn">
					<%= render 'layouts/tabakun' %>
					<div class="row">
						<div class="col-md-12">
							<div class="headingmac">
								<h4>Alamat Baru</h4>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="colomacr">
								<div class="ctnblok-logreg">
                  <%= form_for(@alamat) do |f| %>
                  <%= f.hidden_field :provinsi_sebagai %>
                  <%= f.hidden_field :kota_sebagai %>
                  <%= f.hidden_field :kecamatan_sebagai %>
									<div style="display:none;" class="form-row has-error">
										<label for="nmalamat">Alamat Sebagai</label>
										<input data-validation="alphanumeric" data-validation-allowing=" " required="required" type="text" name="alamat[sebagai]" data-validation-optional="true" id="nmalamat" placeholder="Alamat Kantor">
										<!--<p><i class="fa fa-exclamation-triangle"></i> &nbsp;Isikan Username</p>-->
									</div>
									<div style="display:none;" class="form-row">
										<label for="penerima">Nama Penerima</label>
										<input data-validation="alphanumeric" data-validation-allowing=" " required="required" type="text" name="alamat[nama_penerima]" id="penerima" >
									</div>
									<div style="display:none;" class="form-row">
										<label for="almt">Alamat</label>
										<textarea required="required" name="alamat[alamat]" id="almt" rows="4" cols="50" style="resize:none;text-align:left;"></textarea>
									</div>
									<div style="display:none;" class="form-row">
										<label for="kdpos">Kode Pos</label>
										<input data-validation="number" required="required" type="text" name="alamat[kode_pos]" id="kdpos">
									</div>
									<div class="form-row">
										<label for="prov">Provinsi</label>
										<select class="provinsi" required="required" name="alamat[provinsi]" id="prov">
                      <option value="">Pilih Provinsi</option>
                      <% @pro.each do |p| %>
                        <option value="<%= p['province_id'] %>"><%= p['province'] %></option>
                      <% end %>
                      </select>
									</div>
                  <% if params[:provinsi] %>
									<div class="form-row">
										<label for="kota">Kota / Kabupaten</label>
                    <select class="kota" required="required" name="alamat[kabupaten]" id="kota">
                    <option value="">Pilih Kota/Kabupaten</option>
                    <% @cit.each do |p| %>
                      <option value="<%= p['city_id'] %>"><%= p['city_name'] %></option>
                    <% end %>
                    </select>
									</div>
                  <% end %>
                  <% if params[:kota] != "undefined" && params[:kota] %>
									<div class="form-row">
										<label for="kec">Kecamatan</label>
                      <select class="kecamatan" required="required" name="alamat[kecamatan]" id="kec">
                      <option value="">Pilih Kecamatan</option>
                      <% @kec.each do |p| %>
                        <option value="<%= p['subdistrict_id'] %>"><%= p['subdistrict_name'] %></option>
                      <% end %>
                      </select>
									</div>
                  <% end %>
									<div style="display:none;" class="form-row">
										<label for="tlp">Nomor Telepon</label>
										<input data-validation="number" required="required" type="text" name="alamat[nomor_telepon]" id="tlp">
									</div>
									<br>
									<div style="display:none;" class="form-row reg">
										<input type="submit" name="commit" value="Simpan" class="gosignin" >
                    <% end %>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    <%= render "layouts/torakofooter" %>
<script>
    $('.provinsi option[value=<%=params[:provinsi]%>]').attr('selected','selected');
    $('.kota option[value=<%=params[:kota]%>]').attr('selected','selected');
</script>
<script>
$(document).on('ready page:load', function () {
  $('.kecamatan').bind("keyup change", function(){
        $('.form-row').fadeIn(2000);
        var a = $('.provinsi option:selected').text();
        var b = $('.kota option:selected').text();
        var c = $('.kecamatan option:selected').text();
        $('#alamat_provinsi_sebagai').val(a);
        $('#alamat_kota_sebagai').val(b);
        $('#alamat_kecamatan_sebagai').val(c);
    });
});
</script>
<script>
$(document).on('ready page:load', function () {
  $('.provinsi, .kota').bind("keyup change", function(){
        var newurl = "/alamat/new" + "/" + $('.provinsi').val() <% if @cit %>+ "/" + $('.kota').val()<% end %>;
        Turbolinks.visit(newurl);
    });
});
</script>