<%= render 'layouts/torakoheader' %>

		<div class="spacermedium"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-md-offset-3">
						<div id="blok-loginpanel">
							<div class="headingblok-logreg login">
								<h4 class="notbordered">Lupa Password Anda?</h4>
								<p>Masukkan email login Anda dibawah ini. Kami akan mengirimkan pesan email beserta link untuk reset password Anda.</p>
							</div>
              <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
              <%= devise_error_messages! %>
              <%= f.hidden_field :reset_password_token %>
							<div class="ctnblok-logreg">
								<div class="form-row has-error">
									<label for="email">Password Baru</label>
									<input type="password" name="user[password]" id="email" placeholder="Password Baru">
									<!--<p><i class="fa fa-exclamation-triangle"></i> &nbsp;Isikan Username</p>-->
								</div>
                <div class="form-row has-error">
									<label for="email">Ulangi Password Baru</label>
									<input type="password" name="user[password_confirmation]" id="email" placeholder="Ulangi Password Baru">
									<!--<p><i class="fa fa-exclamation-triangle"></i> &nbsp;Isikan Username</p>-->
								</div>
								<div class="form-row">
									<input type="submit" name="commit" value="Ganti Password" class="gosignin" >
								</div>
							</div>
              <% end %>
							<div class="spacermedium"></div>
						</div>
					</div>
				</div>
			</div>
    <%= render 'layouts/torakofooter' %>
