<%= render 'layouts/torakoheader' %>
		<div class="spacermedium"></div>

		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<button type="button" class="btn" id="btn-SHsidebar"><i class="fa fa-user" style="margin-right:1em;"></i> Member Menu</button>
				</div>
			</div>
			<div class="row">
				<%= render 'layouts/sidebar' %>
				<div class="col-md-9 col-sm-9 wrappermakctn">
					<%= render 'layouts/tabakun' %>
					<div class="row">
						<div class="col-md-12">
							<div class="headingmac">
								<h4>Ubah Rekening Bank</h4>
							</div>
						</div>
					</div>
          <%= form_for(@rekening) do |f| %>
					<div class="row">
						<div class="col-md-6">
							<div class="ctnblok-logreg">
                    <div class="form-row">
                      <%= f.label :Nama_akun %>
                      <%= f.text_field :pemilik, "data-validation" => "alphanumeric", "data-validation-allowing" => " " %>
                    </div>
                    <div class="form-row">
                       <%= f.label :No_rekening %>
                       <%= f.text_field :nomor_rekening, "data-validation" => "number" %>
                    </div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="ctnblok-logreg">
                <div class="form-row">
                 <%= f.label :Nama_bank %>
                 <%= f.select :nama_bank, ["BCA", "BNI", "Mandiri"] %></div>
                <div class="form-row">
                   <%= f.label :Cabang %>
                   <%= f.text_field :cabang, "data-validation" => "alphanumeric", "data-validation-allowing" => " " %>
                   <p class="helpertext">* Contoh: Jakarta Barat</p>
                </div>
								<br>

							</div>
						</div>
					</div>
          <div class="form-row reg">
					<input type="submit" name="" value="Simpan" class="gosignin" >
          <% end %>
					  </div>
				</div>
			</div>
		</div>

    <%= render 'layouts/torakofooter' %>