<%= render 'layouts/torakoheader' %>
		<div class="spacermedium"></div>

		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<button type="button" class="btn" id="btn-SHsidebar"><i class="fa fa-user" style="margin-right:1em;"></i> Member Menu</button>
				</div>
			</div>
			<div class="row">
        <%= render 'layouts/sidebar' %>
				<div class="col-md-9 col-sm-9 wrappermakctn">
					<%= render 'layouts/tabakun' %>
					<div class="row">
						<div class="col-md-12">
							<div class="headingmac">
								<h4>Tambah Rekening Bank</h4>
							</div>
						</div>
					</div>
          <% if notice %>
                <p id="notice"><%= notice %></p>
                <% end %>
          <%= form_for(@rekening) do |f| %>
					<div class="row">
						<div class="col-md-6">
							<div class="ctnblok-logreg">
								<div class="form-row has-error">
									<label for="nmalamat">Nama Akun / Pemilik</label>
									<input type="text" name="rekening[pemilik]" id="nmalamat" data-validation="alphanumeric" data-validation-allowing=" ">
									<!--<p><i class="fa fa-exclamation-triangle"></i> &nbsp;Isikan Username</p>-->
								</div>
								<div class="form-row">
									<label for="penerima">No. Rekening</label>
									<input type="text" name="rekening[nomor_rekening]" id="penerima" data-validation="number">
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="ctnblok-logreg">
                <div class="form-row">
									<label for="prov">Nama Bank</label>
									<select required="required" name="rekening[nama_bank]" id="prov">
										<option value="">Pilih Bank</option>
										<option>Mandiri</option>
										<option>BCA</option>
										<option>BNI</option>
									</select>
								</div>
								<div class="form-row">
									<label for="kdpos">Cabang</label>
									<input type="text" name="rekening[cabang]" id="kdpos" data-validation="alphanumeric" data-validation-allowing=" ">
									<p class="helpertext">* Contoh: Jakarta Barat</p>
								</div>
								<br>
								<div class="form-row reg">
									<input type="submit" name="" value="Simpan" style="float: right;" class="gosignin" >
								</div>
							</div>
						</div>
					</div>
          <% end %>
				</div>
			</div>
		</div>
    <%= render 'layouts/torakofooter' %>