<ul id="list-topkeyword">
							<li><a href="/cari?utf8=✓&search=<%= Homeitem.find(4).text1 %>"><%= Homeitem.find(4).text1 %></a></li>
							<li><a href="/cari?utf8=✓&search=<%= Homeitem.find(4).text2 %>"><%= Homeitem.find(4).text2 %></a></li>
							<li><a href="/cari?utf8=✓&search=<%= Homeitem.find(4).text3 %>"><%= Homeitem.find(4).text3 %></a></li>
							<li><a href="/cari?utf8=✓&search=<%= Homeitem.find(4).text4 %>"><%= Homeitem.find(4).text4 %></a></li>
							<li><a href="/cari?utf8=✓&search=<%= Homeitem.find(4).text5 %>"><%= Homeitem.find(4).text5 %></a></li>
							<li><a href="/cari?utf8=✓&search=<%= Homeitem.find(4).text6 %>"><%= Homeitem.find(4).text6 %></a></li>
							<li><a href="/cari?utf8=✓&search=<%= Homeitem.find(4).text7 %>"><%= Homeitem.find(4).text7 %></a></li>
						</ul>