<div id="header" class="header" style='background-image: url("<%= Homeitem.find(28).img1.url %>");'>
    <div class="top-header">
        <div style="">
            <div class="nav-top-links">
                <a class="first-item" href="#"><img alt="phone" src="/assets/images/phone.png" /><%= Homeitem.find(19).text1 %></a>
                <%= Homeitem.find(19).text2 %>

            </div>

            <div class="support-link">
                <% if user_signed_in? %>
                <% if @troli2live.present? %><% @t2 = @troli2live.count %><% else %><% @t2 = 0 %><% end %>
                <% if @troli3live.present? %><% @t3 = @troli3live.count  %><% else %><% @t3 = 0 %><% end %>
                <% if @troli4.present? %><% @t4 = @troli4.count  %><% else %><% @t4 = 0 %><% end %>
                <% if @troli7live.present? %><% @t7 = @troli7live.count  %><% else %><% @t7 = 0 %><% end %>
                <% if @stroli3live.present? %><% @s3 = @stroli3live.count  %><% else %><% @s3 = 0 %><% end %>
                <div class="not"><%= @t2 + @t3 + @t4 + @t7 + @s3 %></div>
                <% else %>
                <% end %>
                <% if user_signed_in? %>
                <a href="#">Welcome, <%= current_user.namalengkap %></a>
                <% else %>
                <a href="#">Welcome Guest</a>
                <a href="/masuk">Login</a>
                <a href="/daftar">Register</a>
                <% end %>
                <% if user_signed_in? %>
                <div class="dropdown account">
                <a class="acclink dropdown-toggle" data-toggle="dropdown" href="#">Account <span class="caret"></span></a>
                <div class="account-content accountprofil dropdown-menu">
                  <ul>
                    <li><a href="/profil"><i style="margin-top:10px;" class="fa fa-user" aria-hidden="true"></i> Profil</a></li>
                    <li><a href="/edit"><i style="margin-top:10px;" class="fa fa-cog" aria-hidden="true"></i> Pengaturan</a></li>
                    <li><a href="/wishlist"><i style="margin-top:10px;" class="fa fa-heart" aria-hidden="true"></i> Wishlist</a></li>
                    <li><a href="/wishlist"><i style="margin-top:10px;" class="fa fa-envelope" aria-hidden="true"></i> Inbox</a></li>
                    <li><a href="/pesanan-baru"><i style="margin-top:10px;" class="fa fa-home" aria-hidden="true"></i> Toko</a></li>
                  </ul>
                </div>
                </div>
                <a href="/logout" data-method="delete">Logout</a>
                <div style="float:right;" class="dropdown notif">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i style="font-size: 20px; margin-top: 6px; float:right;" class="fa fa-bell" aria-hidden="true"></i></a>
              <div style="width: 250px;" class="dropdown-content dropdown-menu notif-content">
                <ul>
                <% if @troli2live.present? && @troli2live.count > 0 %>
                <li><a href="/konfirmasi-pembayaran"><i style="margin-top:10px;" class="fa fa-bell-o" aria-hidden="true"></i> <%= @troli2live.count %> pesanan perlu dikonfirmasi</a></li>
                <% end %>
                <% if @troli3live.present? && @troli3live.count > 0 %>
                <li><a href="/status-pemesanan"><i style="margin-top:10px;" class="fa fa-bell-o" aria-hidden="true"></i> <%= @troli3live.count %> pesanan sedang diproses</a></li>
                <% end %>
                <% if @troli7live.present? && @troli7live.count > 0 %>
                <li><a href="/status-pemesanan"><i style="margin-top:10px;" class="fa fa-bell-o" aria-hidden="true"></i> <%= @troli7live.count %> pesanan telah diproses</a></li>
                <% end %>
                <% if @stroli3live.present? && @stroli3live.count > 0 %>
                <li><a href="/pesanan-baru"><i style="margin-top:10px;" class="fa fa-bell-o" aria-hidden="true"></i> <%= @stroli3live.count %> penjualan baru</a></li>
                <% end %>
                 <% if @troli4.present? && @stroli4.count > 0 %>
                <li><a href="/status-pemesanan"><i style="margin-top:10px;" class="fa fa-bell-o" aria-hidden="true"></i> <%= @troli4.count %> pesanan telah dikirim</a></li>
                </ul>
                <% end %>
              </div>
              </div>
                <% end %>
            </div>
        </div>
    </div>
    <!--/.top-header -->
    <!-- MAIN HEADER -->
    <div style="" class="container main-header">
        <div class="row">
            <div class="col-xs-12 col-sm-3 logo">
                <a data-no-turbolink="true" href="/"><img alt="Torako Logo" src="<%= Homeitem.find(16).img2.url %>" /></a>
            </div>
            <div class="col-xs-7 col-sm-7 header-search-box">
                  <%= form_tag(cari_path, :method => "get", class: "form-inline") do %>
                      <div class="form-group input-serach searchpadding">
                        <%= text_field_tag :search, params[:search], placeholder: "Pakaian, Gadget atau apapun.." %>
                      </div>
                      <button type="submit" class="pull-right btn-search"></button>
                <% end %>
            </div>
            <div id="cart-block" class="col-xs-5 col-sm-2 shopping-cart-box">
                <a class="cart-link" href="order.html">
                    <span class="title">Shopping cart</span>
                    <span style="font-size:10px;" class="total"><% if user_signed_in? %><%= @troli.count %><% end %> items - <% if user_signed_in? %><%= number_to_currency(@totaltroli.sum, locale: :id) %><% end %></span>
                    <% if user_signed_in? %><span class="notify notify-left"><%= @troli.count %></span><% end %>
                </a>
                <div class="cart-block">
                    <div class="cart-block-content">
                        <h5 class="cart-title"><% if user_signed_in? %><%= @troli.count %><% end %> Items in my cart</h5>
                        <div class="cart-block-list">
                            <ul>
                              <% if user_signed_in? %>
                              <% @troli.each do |t| %>
                                <li class="product-info">
                                    <div class="p-left">
                                        <a data-confirm="Apakah anda yakin?" rel="nofollow" data-method="delete" href="carts/<%= t.id %>" class="remove_link"></a>
                                        <a href="#">
                                        <img class="img-responsive" src="<%= Produk.find(t.produk_id).foto_produk1.url %>" alt="<%= Produk.find(t.produk_id).nama_produk %>">
                                        </a>
                                    </div>
                                    <div class="p-right">
                                        <p class="p-name"><%= Produk.find(t.produk_id).nama_produk %></p>
                                        <p class="p-rice"><%= number_to_currency(Produk.find(t.produk_id).harga_beli, locale: :id) %></p>
                                        <p>Qty: <%= t.jumlah %></p>
                                    </div>
                                </li>
                              <% end %>
                              <% end %>
                            </ul>
                        </div>
                        <div class="toal-cart">
                            <span>Total</span>
                            <span class="toal-price pull-right"><% if user_signed_in? %><%= number_to_currency(@totaltroli.sum, locale: :id) %><% end %></span>
                        </div>
                        <div class="cart-buttons">
                            <a href="/bayar" class="btn-check-out">Checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- END MANIN HEADER -->
    <div id="nav-top-menu" class="nav-top-menu">
        <div class="container" style="width:100%;">
            <div class="row">
                <div class="col-sm-3" id="box-vertical-megamenus">
                    <div class="box-vertical-megamenus">
                        <h4 class="title">
                            <span class="title-menu">Categories</span>
                            <span class="btn-open-mobile pull-right home-page"><i class="fa fa-bars"></i></span>
                        </h4>
                    <div class="vertical-menu-content is-home">
                        <ul class="vertical-menu-list">
                            <li><a href="<%= category_path(Category.find(11)) %>"><i class="fa fa-desktop" aria-hidden="true"></i>Electronics</a></li>
                            <li>
                                <a href="<%= category_path(Category.find(7)) %>"><i class="fa fa-briefcase" aria-hidden="true"></i>Fashion Pria</a>
                            </li>
                            <li><a href="<%= category_path(Category.find(18)) %>"><i class="fa fa-diamond" aria-hidden="true"></i>Fashion Wanita</a></li>
                            <li><a href="<%= category_path(Category.find(8)) %>"><i class="fa fa-cubes" aria-hidden="true"></i>Toys & Figure</a></li>
                            <li>
                                <a href="<%= category_path(Category.find(12)) %>">
                                <i class="fa fa-book" aria-hidden="true"></i>Book & Comic</a>
                            </li>
                            <li><a href="<%= category_path(Category.find(17)) %>"><i class="fa fa-cutlery" aria-hidden="true"></i>Food & Snacks</a></li>
                            <li><a href="<%= category_path(Category.find(9)) %>"><i class="fa fa-headphones" aria-hidden="true"></i>Film,Music,Poster</a></li>
                            <li><a href="<%= category_path(Category.find(10)) %>"><i class="fa fa-tags" aria-hidden="true"></i>Others</a></li>

                        </ul>
                    </div>
                </div>
                </div>
                <div id="main-menu" class="col-sm-9 main-menu">
                    <nav class="navbar navbar-default">
                        <div style="padding-right:62px;" class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                    <i class="fa fa-bars"></i>
                                </button>
                                <a class="navbar-brand" href="#">MENU</a>
                            </div>
                            <div style="float:right;" id="navbar" class="navbar-collapse collapse">
                                <ul class="nav navbar-nav">
                                    <li class="nohover"><a href="<%= Homeitem.find(4).text2 %>"><%= Homeitem.find(4).text1 %></a></li>
                                    <li class="nohover"><a href="<%= Homeitem.find(4).text4 %>"><%= Homeitem.find(4).text3 %></a></li>
                                    <li class="nohover"><a href="<%= Homeitem.find(4).text6 %>"><%= Homeitem.find(4).text5 %></a></li>
                                    <li class="nohover"><a href="<%= Homeitem.find(4).text8 %>"><%= Homeitem.find(4).text7 %></a></li>
                                    <li class="nohover"><a href="<%= Homeitem.find(4).text10 %>"><%= Homeitem.find(4).text9 %></a></li>
                                </ul>
                            </div><!--/.nav-collapse -->
                        </div>
                    </nav>
                </div>
            </div>
            <!-- userinfo on top-->
            <div id="form-search-opntop">
            </div>
            <!-- userinfo on top-->
            <div id="user-info-opntop">
            </div>
            <!-- CART ICON ON MMENU -->
            <div id="shopping-cart-box-ontop">
                <i style="color:white;" class="fa fa-shopping-cart"></i>
                <div style="margin-right:150px;" class="shopping-cart-box-ontop-content"></div>
            </div>
        </div>
    </div>
</div>