<div class="spacerbig"></div>
<footer id='footer' style='background-image: url("<%= Homeitem.find(28).img2.url %>");'>
     <div class="container">
            <!-- introduce-box -->
            <div id="introduce-box" class="row">
                <div class="col-md-3">
                    <div id="address-box">
                        <a href="/"><img src="<%= Homeitem.find(16).img3.url %>" alt="logo" /></a>
                        <div id="address-list">
                            <div class="tit-name">Address:</div>
                            <div class="tit-contain"><%= Homeitem.find(16).text6 %></div>
                            <div class="tit-name">Phone:</div>
                            <div class="tit-contain"><%= Homeitem.find(16).text4 %></div>
                            <div class="tit-name">Email:</div>
                            <div class="tit-contain"><%= Homeitem.find(16).text5 %></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="introduce-title">My Account</div>
                            <ul id = "introduce-Account" class="introduce-list">
                                <li><a href="/bayar">My Order</a></li>
                                <li><a href="/wishlist">My Wishlist</a></li>
                                <li><a href="/profil">My Profile</a></li>
                                <% if user_signed_in? && current_user.toko.present? %>
                                <li><a href="<%= toko_path(current_user.toko) %>">My Store</a></li>
                                <% end %>
                                <li><a href="#">Inbox</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <div class="introduce-title">Support</div>
                            <ul id = "introduce-support"  class="introduce-list">
                                <li><a href="<%= static_path(Static.find(6)) %>">About Us</a></li>
                                <li><a href="<%= static_path(Static.find(5)) %>">Terms & Conditions</a></li>
                                <li><a href="<%= static_path(Static.find(15)) %>">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div id="contact-box">
                        <div class="introduce-title">Newsletter</div>
                        <%= form_for @newsletter, remote: true do |f| %>
                        <div class="input-group" id="mail-box">
                          <div class="newslettersubmitted">Thank you !</div>
                          <input data-validation="email" data-validation-error-msg-container="#email-error-dialog" class="newsinput" type="text" name="newsletter[email]" placeholder="Your Email Address"/>
                          <span class="input-group-btn">
                            <button class="btn btn-default newsbutton" type="submit">OK</button>
                          </span>
                        </div><!-- /input-group -->
                        <div style="color: yellow;font-weight: 100;" id="email-error-dialog"></div>
                        <% end %>
                        <div class="introduce-title">Let's Socialize</div>
                        <div class="social-link">
                            <a href="<%= Homeitem.find(32).text1 %>"><i class="fa fa-facebook"></i></a>
                            <a href="<%= Homeitem.find(32).text2 %>"><i class="fa fa-twitter"></i></a>
                            <a href="<%= Homeitem.find(32).text3 %>"><i class="fa fa-google-plus"></i></a>
                            <a href="<%= Homeitem.find(32).text4 %>"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>

                </div>
            </div><!-- /#introduce-box -->

            <!-- #trademark-box -->
            <div id="trademark-box" class="row">
                <div class="col-sm-12">
                    <ul id="trademark-list">
                        <li id="payment-methods">Payment and Shipping</li>
                        <li>
                            <a href="#"><img src="<%= Homeitem.find(1).img1.url %>"  alt="ups"/></a>
                        </li>
                        <li>
                            <a href="#"><img src="<%= Homeitem.find(1).img2.url %>"  alt="ups"/></a>
                        </li>
                        <li>
                            <a href="#"><img src="<%= Homeitem.find(1).img3.url %>"  alt="ups"/></a>
                        </li>
                        <li>
                            <a href="#"><img src="<%= Homeitem.find(1).img4.url %>"  alt="ups"/></a>
                        </li>
                        <li>
                            <a href="#"><img src="<%= Homeitem.find(1).img5.url %>"  alt="ups"/></a>
                        </li>
                        <li>
                            <a href="#"><img src="<%= Homeitem.find(1).img6.url %>"  alt="ups"/></a>
                        </li>
                        <li>
                            <a href="#"><img src="<%= Homeitem.find(1).img7.url %>"  alt="ups"/></a>
                        </li>

                    </ul>
                </div>
            </div> <!-- /#trademark-box -->

            <!-- #trademark-text-box -->

            <div id="footer-menu-box">

                <div style="height:150px;" class="col-sm-12"></div>
                <p class="text-center">Copyrights &#169; 2016 Torako. All Rights Reserved. Designed by on-line.co.id</p>
            </div><!-- /#footer-menu-box -->
        </div>
</footer>
<script>
  $('.newsbutton').click(function(){
  $(this).fadeOut();
  $('.newsinput').fadeOut();
  $('.newslettersubmitted').fadeIn();
                         });
</script>