<% if params[:controller] != "admins" %>
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <link href="<%= stylesheet_path "admin/bootstrap/css/notiny.css" %>" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/lib/select2/css/select2.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/lib/jquery.bxslider/jquery.bxslider.css" />
    <link rel="stylesheet" type="text/css" href="/assets/lib/owl.carousel/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" href="/assets/lib/jquery-ui/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="/assets/lib/fancyBox/jquery.fancybox.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/animate.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/responsive.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/torako.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/custom.css" />
  <% if params[:controller] == "produks" && params[:action] == "show" %>
  <title><%= @produk.nama_produk %></title>
  <meta name="description" content="<%= @produk.deskripsi %>">
  <meta name="keywords" content="<%= @produk.nama_produk %>">
   <% elsif params[:controller] == "statics" && params[:action] == "show" %>
  <title><%= @static.title %></title>
  <meta name="description" content="<%= @static.meta_description %>">
  <meta name="keywords" content="<%= @static.meta_keyword %>">
  <% else %>
  <title><%= Homeitem.find(16).text1 + " | " + Homeitem.find(16).text2 %></title>
  <meta name="description" content="<%= Homeitem.find(16).description %>">
  <meta name="keywords" content="<%= Homeitem.find(16).text3 %>">
  <% end %>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% if Homeitem.find(16).img1.url %>
  <link rel="shortcut icon" type="image/png" href="<%= Homeitem.find(16).img1.url %>"/>
  <% end %>
  <%= csrf_meta_tags %>
</head>
<body class="product-page right-sidebar">
  <%= yield %>
<a href="#" class="scroll_top" title="Scroll to Top" style="display: inline;">Scroll</a>
<!-- Script-->
<script type="text/javascript" src="/assets/lib/jquery/jquery-1.11.2.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
<script type="text/javascript" src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/lib/select2/js/select2.min.js"></script>
<script type="text/javascript" src="/assets/lib/jquery.bxslider/jquery.bxslider.min.js"></script>
<script type="text/javascript" src="/assets/lib/owl.carousel/owl.carousel.min.js"></script>
<script type="text/javascript" src="/assets/lib/jquery.countdown/jquery.countdown.min.js"></script>
<script type="text/javascript" src="/assets/lib/jquery.elevatezoom.js"></script>
<script type="text/javascript" src="/assets/lib/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="/assets/lib/fancyBox/jquery.fancybox.js"></script>
<script type="text/javascript" src="/assets/js/jquery.actual.min.js"></script>
<script type="text/javascript" src="/assets/js/theme-script.js"></script>
<%= javascript_include_tag "admin/notiny.js" %>
<script>
  $.validate();
</script>
 <script>
  $('.btn-konfirmasipb').click(function(e){
    $('.form-konfirmasi').slideToggle();
    e.preventDefault();
  });
  $('.showdtkonf').click(function(e){
    $('.wrapdtkonf').slideToggle();
    e.preventDefault();
  });
</script>
</body>
</html>
<% else %>
<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Administrator</title>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <link href="<%= stylesheet_path "admin/bootstrap/css/notiny.css" %>" rel="stylesheet">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="<%= stylesheet_path "admin/bootstrap/css/bootstrap.min.css" %>" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link href="<%= stylesheet_path "admin/bootstrap/css/AdminLTE.min.css" %>" rel="stylesheet">
    <link href="<%= stylesheet_path "admin/bootstrap/css/_all-skins.min.css" %>" rel="stylesheet">
    <link href="<%= stylesheet_path "admin/bootstrap/css/blue.css" %>" rel="stylesheet">
    <link href="<%= stylesheet_path "admin/bootstrap/css/morris.css" %>" rel="stylesheet">
    <link href="<%= stylesheet_path "admin/bootstrap/css/jquery-jvectormap-1.2.2.css" %>" rel="stylesheet">
    <link href="<%= stylesheet_path "admin/bootstrap/css/datepicker3.css" %>" rel="stylesheet">
    <link href="<%= stylesheet_path "admin/bootstrap/css/daterangepicker-bs3.css" %>" rel="stylesheet">
    <link href="<%= stylesheet_path "admin/bootstrap/css/bootstrap3-wysihtml5.min.css" %>" rel="stylesheet">

    <%= csrf_meta_tags %>
  </head>
  <body data-no-turbolink="true" class="hold-transition skin-blue sidebar-mini">
    <%= yield %>
    <%= javascript_include_tag "admin/jquery-ui.min.js" %>
    <%= javascript_include_tag "admin/bootstrap.min.js" %>
    <%= javascript_include_tag "admin/bootstrap-datepicker.js" %>
    <%= javascript_include_tag "admin/bootstrap3-wysihtml5.all.min.js" %>
    <%= javascript_include_tag "admin/app.min.js" %>
    <%= javascript_include_tag "admin/notiny.js" %>
    <script>
      $(".textarea").wysihtml5();
      $('#datepicker').datepicker({
      autoclose: true
    });
    </script>


  </body>
</html>
<% end %>