<%= render 'layouts/torakoheader' %>
		<div class="spacermedium"></div>

		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<button type="button" class="btn" id="btn-SHsidebar"><i class="fa fa-user" style="margin-right:1em;"></i> Member Menu</button>
				</div>
			</div>
			<div class="row">
				<%= render 'layouts/sidebar' %>
				<div class="col-md-9 col-sm-9 wrappermakctn">
          <%= render 'layouts/tabakun' %>
					<div class="row">
						<div class="col-md-12">
							<div class="headingmac">
								<h4>Ubah Profil</h4>
							</div>
						</div>
					</div>
					<div class="row">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
						<div class="col-md-4">
							<div class="picprofile edit">
								<span class="imgna"><% if current_user.profil_image.url.nil? %><img class="responsiveimg" src="<%= image_path "user.png" %>"><% else %><%= image_tag current_user.profil_image.avatar.url, class: "responsiveimg" %><% end %></span>
                   <div class="field">
                      <%= f.label :image %><br>
                      <%= f.file_field :profil_image %>
                   </div>

								<span class="notup">*Pastikan File Bertype JPG, PNG</span>
							</div>
						</div>
						<div class="col-md-8">
							<div class="colomacr">
								<div id="blok-registerpanel">
                  <%= devise_error_messages! %>
									<div class="ctnblok-logreg">
                      <div class="form-row has-error">
                        <%= f.label :Nama_Lengkap %><br />
                        <%= f.text_field :namalengkap, autofocus: true, required: true, "data-validation" => "alphanumeric", "data-validation-allowing" => " " %>
                      </div>
                      <div><%= f.label :Tanggal_Lahir, class: "form-row" %><br />
                      <%= f.date_select :date_of_birth, :start_year=>1930,:end_year=>2030 %></div>
                    <div class="form-row">
                      <%= f.label :Jenis_Kelamin %><br />
                      <%= f.radio_button :is_female, true %>
                      <span class="rowjk"><%= f.label :is_female, "Wanita", :value => "true" %></span>
                      <%= f.radio_button :is_female, false, :checked => true %>
                      <span class="rowjk"><%= f.label :is_female, "Pria", :value => "false" %></span>
                    </div>
                    <div class="form-row">
                      <%= f.label :Nomor_Handphone %><br />
                      <%= f.text_field :nomor_handphone, autofocus: true, required: true, "data-validation" => "number" %>
                    </div>
									</div>
								</div>
							</div>
							<div class="colomacr">
								<div id="blok-registerpanel">
									<div class="ctnblok-logreg">
                     <div class="form-row">
                       <%= f.label :Alamat_email %><br />
                       <%= f.email_field :email, autofocus: true, "data-validation" => "email" %>
                     </div>
                    <% if !current_user.provider %>
										<div class="form-row">
											<label for="password">Password</label>
											<input required="true" type="password" name="user[current_password]" id="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;">
										</div>
                    <% end %>
									</div>
								</div>
							</div>
							<div class="form-row reg">
								<input type="submit" name="commit" value="Simpan" class="gosignin" >
							</div>
						</div>
            <% end %>
					</div>
				</div>
			</div>
		</div>
    <%= render 'layouts/torakofooter' %>
<script>
  $.validate();
</script>
