		<!-- Header -->
    <%= render 'layouts/torakoheader' %>
		<!-- ./Header -->

		<div class="spacermedium"></div>
		<div class="container">
			<div class="row">
				<div style="padding-top: 10px;" class="col-md-6">
					<div class="headingblok-logreg reg">
						<h4>Belum Punya Akun? <span class="typeorange">Daftar Gratis!</span></h4>
					</div>
					<div id="blok-registerpanel">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>
						<div class="ctnblok-logreg">
              <div class="form-row has-error">
              <%= f.label :Nama_Lengkap %><br />
              <%= f.text_field :namalengkap, autofocus: true, placeholder: "Nama Anda", required: "true", id: "upper", "data-validation" => "alphanumeric" %>
              </div>
              <div class="form-row">
              <%= f.label :Nomor_Handphone %><br />
              <%= f.text_field :nomor_handphone, autofocus: true, placeholder: "Nomor Handphone/Telp", required: true, "data-validation" => "number" %>
              </div>
              <div class="form-row">
                <%= f.label :Jenis_Kelamin %><br />
                <%= f.radio_button :is_female, true %>
                <span class="rowjk"><%= f.label :is_female, "Wanita", :value => "true" %></span>
                <%= f.radio_button :is_female, false, :checked => true %>
                <span class="rowjk"><%= f.label :is_female, "Pria", :value => "false" %></span>
               </div>

							<div class="form-row">
								<label for="password">Alamat Email</label>
								<input required="true" type="email" name="user[email]" id="password" data-validation="email" placeholder="Alamat Email">
							</div>
							<div class="form-row">
								<label for="password">Password</label>
								<input data-validation="length" data-validation-length="min8" required="true" type="password" name="user[password]" id="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;">
							</div>
							<div class="form-row">
								<label for="password">Ketik Ulang Password</label>
								<input data-validation="confirmation" data-validation-confirm="user[password]" required="true "type="password" name="user[password_confirmation]" id="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;">
							</div>
							<div class="form-row">
								<input required="true" type="checkbox" name="" value="" class="cexreg"> <span class="cexdes">Saya sudah membaca dan menyetujui <a href="#" class="typered">Syarat dan Ketentuan</a>, serta <a href="#"  class="typered">Kebijakan Privasi</a> Torako</span>
							</div>
							<div class="form-row reg">
								<input type="submit" name="" value="Daftar" class="gosignin" >
							</div>
						</div>
					</div>
          <% end %>
					<div class="spacermedium"></div>
				</div>
				<div class="col-md-6">
					<div class="ctn-otherlogreg">
						<div class="headingblok-logreg bordered">
							<h4>Atau Masuk Dengan:</h4>
						</div>
						<div class="listotherlogin reg">
                  <div class="sosmedlogin">
                  <%= link_to user_omniauth_authorize_path(:facebook) do %>
                  <span class="loginoptionbtn facebook"><i class="fa fa-facebook"></i> Facebook</span>
                  <% end %>
                  </div>
									<div class="sosmedlogin">
                    <%= link_to user_omniauth_authorize_path(:twitter) do %>
                    <span class="loginoptionbtn twitter"><i class="fa fa-twitter"></i> Twitter</span>
                  <% end %>
                  </div>
									<div class="sosmedlogin">
                    <%= link_to user_omniauth_authorize_path(:google_oauth2) do %>
                    <span class="loginoptionbtn gplus"><i class="fa fa-google-plus"></i> Google Plus</span>
                    <% end %>
                  </div>
									<div class="sosmedlogin">
                    <%= link_to user_omniauth_authorize_path(:instagram) do %>
                    <span class="loginoptionbtn instagram"><i class="fa fa-instagram"></i> Instagram</span>
                    <% end %>
                  </div>
								</div>
						<div class="reg-info">
							<h4><i class="fa fa-info-circle"></i> &nbsp;Informasi Keamanan</h4>
							<ul>
								<li>Praesent et sem posuere turpis ultricies commodo.</li>
								<li>Pellentesque scelerisque risus sed odio ullamcorper, ac maximus lorem imperdiet.</li>
								<li>Maecenas a velit semper, eleifend elit ut, lobortis est.</li>
								<li>Donec vitae est a nunc sodales sollicitudin in interdum velit.</li>
								<li>Proin iaculis elit eu enim sagittis, sit amet maximus metus condimentum.</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="spacerbig"></div>
    <%= render 'layouts/torakofooter' %>